
<div class="container2-1">
    <h3 class="productNameTitle"> 케이블용 Olefin에 대하여 </h3>

    <div class="linkBox pcBr">
        <a href="#a1" class="a">일반용</a>
        <a href="#a2" class="a" style="display: none"></a>
        <a href="#a3" class="a" style="display: none"></a>
        <a href="#a4" class="a" style="display: none"></a>
        <a href="#a5" class="a">난연 무독</a>
    </div>
</div>

<div class="pvcLeftRightContainer">
    <div class="pvcLeftContainer pvcMiddleHeight">
        <div class="pvcContent1 pvcLeftInContainer">
            <p class="generalCable"> 케이블 </p>
            <ul class="generalCableCharacteristic">
                <li>전선용 난연 무독 컴파운드</li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer">
        <!--        <img src="../../images/product/construction1.jpg" class="pvcImageInFit">-->
        <img src="../../images/product/olefinCable2.png" class="pvcImageInFit">
    </div>
</div>

<div class="pvcContent1">
    <div>
        <p class="generalCable"> 일반용 제품 특성 </p>
        <ul class="generalCableCharacteristic">
            <li>규격 적합성</li>
            <li>압출 성형 및 가공 특성</li>
            <li>다양한 색상</li>
            <li>내후성</li>
        </ul>
    </div>

    <div>
        <img src="../../images/product/olefinGeneral.png" style="width: 89%">
    </div>
</div>

<div class="pvcContent2">
    <div>
        <p class="generalCable"> 난연 무독 제품 특성 </p>
        <ul class="generalCableCharacteristic">
            <li>난연 특성</li>
            <li>저연 특성</li>
            <li>유연한 압출 성형 및 가공 특성</li>
        </ul>
    </div>

    <div>
        <img src="../../images/product/olefinFlameRetardantNonToxic.png" style="width: 89%">
    </div>
</div>
