<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container2-1">
    <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.olefin.aboutSpecialUseOlefin')}"></h3>
</div>

<div class="pvcLeftRightContainer">
    <div class="pvcLeftContainer pvcMiddleHeight">
        <div class="pvcContent1 pvcLeftInContainer">
            <p class="generalCable titles"> <a th:text="${#messages.msgOrNull('product.olefin.specialUse')}"></a> </p>
            <ul class="generalCableCharacteristic">
                <li th:text="${#messages.msgOrNull('product.olefin.conductiveSemiConductive')}"></li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer">
        <img src="../../images/product/olefinSemiConducting.png" class="pvcImageInFit">
    </div>
</div>

</html></html>