<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>

<body>
<div th:fragment="olefinDefault">
    <div class="container2-1 olefinContainer">
        <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.olefin.aboutOlefin')}"></h3>
    </div>

    <div id="pvcDefaultExplanation">
        <div class="pvcContent1">

            <div class="whatOlefinImageArea">
                <img src="../../images/product/olefinHeader.jpg">
            </div>

            <div class="whatPvc">
                <div class="inWhatPvc" id="a1">
                    <p class="inWhatPvcTxt1 titles"> <a th:text="${#messages.msgOrNull('product.olefin.whatIsOlefinCompound')}"></a> </p>
                    <p class="inWhatPvcTxt2" th:utext="${#messages.msgOrNull('product.olefin.thisIsOlefinCompound')}"></p>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
