@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap');

.wrap{
    overflow: hidden;
}

.rndIntroContainer{
    position: relative;
    width: 80vw;
    margin: 95px auto 300px auto;
    max-width: 1800px;
    min-width: 1200px;
}

.rndIntroHeader{
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 185px;
    max-width: 1400px;
    min-width: 1000px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.rndIntroHeader > h1{
    font-size: 58px;
    line-height: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.rndIntroHeader > p{
    width: 60%;
    margin: 0 auto;
    font-size: 19px;
    line-height: 24px;
    color: #757575;
}

.rndIntroContent{
    position: relative;
    top: 200px;
    width: 1400px;
    margin: 0 auto;
    height: auto;
    background-color: #f5f5f5;
}

.rndSloganContainer{
    position: relative;
    width: 1300px;
    height: auto;
    margin: 0 auto;
}

.rndSloganContent{
    position: relative;
    width: 960px;
    height: 500px;
    margin: 0 auto 120px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rndSloganContent:hover .contentNote{
    opacity: 1;
    bottom: -50px;
}

.contentNote{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    right: -50px;
    bottom: -350px;
    width: 400px;
    height: auto;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    transition: 1000ms ease-in-out;
}

.noteContent{
    width: 310px;
    margin: 50px auto 25px auto;
    text-align: center;
}

.noteContent > h2{
    font-size: 32px;
    line-height: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0, 0.7);
    margin-bottom: 18px;
}

.noteContent > h3{
    font-size: 22px;
    line-height: 25px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0, 0.7);
    margin-bottom: 12px;
}

.noteContent > p {
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.noteContentIcon{
    text-align: center;
    margin: 35px auto;
}

.noteContentIcon > img{
    width: 85px;
}

.noteContentIcon > i{
    color: #eaeaea;
    font-size: 80px;
    text-shadow: 0 0 10px rgba(0,0,0, 0.7);
}

.rndContent1{
    background-image: url("/images/rnd/rndIntro/rndIntro3.jpg");
}
.rndContent2{
    background-image: url("/images/rnd/rndIntro/rndIntro4.jpg");
}

.rndContent3{
    background-image: url("/images/rnd/rndIntro/rndIntro5.jpg");
}
.rndContent4{
    background-image: url("/images/rnd/rndIntro/rndIntro7.jpg");
}

@media only screen and (max-width: 480px) {
    
}

