@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.wrap{
    overflow: hidden;
}

.rndBackWall{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/rnd/rndIntro/rndIntroBackwall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.rndIntroWrap{
    position: relative;
    width: 100vw;
    background-color: white;
    padding: 95px 0 120px 0;
}

.rndIntroContainer{
    position: relative;
    width: 80vw;
    margin: 0 auto;
    max-width: 1800px;
    min-width: 1200px;
}

.rndIntroHeader{
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 185px;
    max-width: 1400px;
    min-width: 1000px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.rndIntroHeader > h1, .rndIntroHeader > p{
    position: relative;
    top: 100px;
    opacity: 0;
    transition: 1500ms ease-in-out;
}

.rndIntroHeader > h1{
    font-size: 58px;
    line-height: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.rndIntroHeader > p{
    width: 65%;
    margin: 0 auto;
    font-size: 19px;
    line-height: 24px;
    color: #757575;
}

.rndIntroContent{
    position: relative;
    top: 50px;
    width: 1400px;
    margin: 0 auto;
    height: auto;
}

.rndGoalContainer{
    position: relative;
    width: 1080px;
    margin: 0 auto 50px auto;
    padding-top: 200px;
}

.rndGoalHeader{
    width: 0;
    overflow: hidden;
    transition: 1000ms ease-in-out;
}

.rndGoalHeader > h2 {
    width: 100%;
    height: 100px;
    font-size: 28px;
    line-height: 100px;
    letter-spacing: -1px;
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.rndGoalContent{
    width: 100%;
    height: 0;
    opacity: 0;
    border-top: 1px deepskyblue solid;
    border-bottom: 1px deepskyblue solid;
    overflow: hidden;
    transition: 1000ms ease-in-out;
}

.goalImageBox{
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.goalImage{
    width: 185px;
    height: 185px;
}

.bottomImage{
    margin: 0 65px;
}

.goalImageComment{
    position: absolute;
    text-align: left;
    top: 60px;
}

.goalImageComment > p{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #333333;

}

.firstComment{
    left: 60%;
}

.secondComment{
    left: 4%;
}

.thirdComment{
    left: 75%;
}

.rndSloganHeader{
    position: relative;
    width: 100vw;
    height: 400px;
    background-color: white;
    text-align: center;
}

.rndSloganHeader > h2{
    padding-top: 150px;
    font-size: 50px;
    line-height: 70px;
    color: white;
}

.rndSloganHeader > h3{
    font-size: 30px;
    line-height: 40px;
    color: white;
}

.sloganHeaderLogo{
    position: absolute;
    width: 300px;
}

.rndSloganContainer{
    position: relative;
    width: 1300px;
    height: auto;
    margin: 0 auto 200px auto;
}

.rndSloganContent{
    position: relative;
    width: 960px;
    height: 500px;
    margin: 0 auto 120px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contentNote{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    right: -50px;
    bottom: -350px;
    width: 400px;
    height: auto;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    transition: 1000ms ease-in-out;
}

.noteContent{
    width: 320px;
    margin: 50px auto 25px auto;
    text-align: center;
}

.noteContent > h2{
    font-size: 32px;
    line-height: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0, 0.7);
    margin-bottom: 18px;
}

.noteContent > h3{
    font-size: 22px;
    line-height: 25px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0, 0.7);
    margin-bottom: 12px;
}

.noteContent > p {
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.noteContentIcon{
    text-align: center;
    margin: 35px auto;
}

.noteContentIcon > img{
    width: 85px;
}

.noteContentIcon > i{
    color: #eaeaea;
    font-size: 80px;
    text-shadow: 0 0 10px rgba(0,0,0, 0.7);
}

.rndContent1{
    background-image: url("../../images/rnd/rndIntro/rndIntro3.png");
}
.rndContent2{
    background-image: url("../../images/rnd/rndIntro/rndIntro4.jpg");
}

.rndContent3{
    background-image: url("../../images/rnd/rndIntro/rndIntro5.jpg");
}
.rndContent4{
    background-image: url("../../images/rnd/rndIntro/rndIntro7.jpg");
}

@media only screen and (max-width: 480px) {
    #headerWrap{
        display: none;
    }

    .rndIntroWrap{
        padding: 45px 0 120px 0;
    }

    .rndIntroContainer{
        width: 90%;
        max-width: unset;
        min-width: unset;
    }

    .rndIntroHeader{
        width: 100%;
        margin: unset;
        max-width: unset;
        min-width: unset;
    }

    .rndIntroHeader > h1{
        font-size: 27px;
        line-height: 50px;
        letter-spacing: -1px;
    }

    .rndIntroHeader > p{
        width: 90%;
        font-size: 14px;
        line-height: 19px;
        text-align: left;
    }

    .rndIntroContent{
        width: 100%;
    }

    .rndGoalContainer{
        width: 100%;
        padding-top: 180px;
    }

    .rndGoalHeader{

    }

    .rndGoalHeader > h2{
        height: 60px;
        font-size: 21px;
        line-height: 60px;
    }

    .goalImageBox{
        text-align: left;
    }

    .goalImage{
        width: 145px;
        height: 145px;
        display: inline-block;
    }

    .goalImageComment{
        top: 40px;
        display: inline-block;
    }

    .goalImageComment > p{
        font-size: 15px;
        line-height: 22px;
    }

    .firstComment{
        left: 155px;
    }

    .secondComment{
        left: 155px;
    }

    .thirdComment{
        left: 155px;
        top: 235px;
    }

    .bottomImage{
        margin: 40px 0 0 0;
        display: block !important;
    }

    .rndSloganHeader{
        height: 150px;
    }

    .rndSloganHeader > h2{
        padding-top: 40px;
        font-size: 20px;
        line-height: 45px;
    }

    .rndSloganHeader > h3{
        font-size: 18px;
        line-height: 22px;
    }

    .rndSloganContainer{
        width: 100%;
    }

    .rndSloganContent{
        width: 100%;
        height: 300px;
        margin: 0 auto 150px auto;
    }

    .contentNote{
        width: 80%;
        left: 20%;
        right: 0;
    }

    .noteContent{
        width: 100%;
    }

    .noteContent > h2{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 14px;
    }

    .noteContent > h3{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .noteContent > p{
        font-size: 14px;
        line-height: 17px;
        padding: 0 15px;
    }

    .noteContentIcon{
        margin: 25px auto;
    }

    .noteContentIcon > img{
        width: 60px;
    }

    .noteContentIcon > i{
        font-size: 60px;
    }


}

