<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="nemoTabWrap" th:fragment="nemoTabBookMark">
    <div class="nemoTabHeader">
        <h2>NemoTab</h2>
        <p th:text="${#messages.msgOrNull('product.nemotab.learnMore')}"></p>
        <i class="far fa-question-circle"></i>
    </div>

    <div class="nemoTabBody">
        <div class="nemoTabContent2">
            <p th:text="${#messages.msgOrNull('product.nemotab.learnMoreNemoTabSite')}"></p>

            <div class="nemoTabBtn">
                <p><a href="http://www.nemotap.com/" target="_blank" th:text="${#messages.msgOrNull('product.nemotab.goToSite')}"></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
