<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--AllCSS/JS-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/categoryHeader/companyHeader.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/categoryHeader/companyHeader.js"></script>
    <script type="text/javascript" src="/js/function/scrollerOverPrevent.js"></script>
    <link rel="stylesheet" href="/css/fragments/mobileSideBar.css">
    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/company/ceoInfo.css">
    <script type="text/javascript" src="/js/company/ceoIntro.js"></script>

</head>
<body>
<div class="wrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>
    <div class="ceoWrap">
        <div th:include="fragments/categoryHeader/companyHeader ::companyHeader" class="container1"></div>
        <div th:fragment="ceoInfo" class="ceoInfoContainer">
            <div class="ceoInfoBox">
                <div class="ceoInfoContent firstContent">
                    <div class="rightContent firstRight">
                        <div class="content">
                            <img class="ceoImage" src="/images/company/ceoImage.png"/>
                        </div>
                    </div>
                    <div class="leftContent firstLeft">
                        <div class="content">
                            <p class="headP">
                                <!--TODO: 다국어-->
                                <span class="highLight" th:utext="${#messages.msgOrNull('company.ceo.msgCustomerTrust')}"></span>
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgBasedOn')}"></span>
                                <span class="highLight" th:utext="${#messages.msgOrNull('company.ceo.msgBestQualityServise')}"></span>
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgWillBe')}"></span>
                                <span class="highLight" th:utext="${#messages.msgOrNull('company.ceo.msgSypolytech')}"></span>
                                <span th:text="${#messages.msgOrNull('company.ceo.msgBe')}"></span>
                            </p>

                            <p class="bodyP">
                                <span th:text="${#messages.msgOrNull('company.ceo.msgWellComeSy')}"></span>
                                <span class="tapSpan"></span>
                                <span th:text="${#messages.msgOrNull('company.ceo.msgWellComeSy2')}"></span>
                                <img class="syLogo" src="/images/headerFooter/logoFullWidth.png"/>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="ceoInfoContent secondContent">
                    <div class="leftContent">
                        <div class="content buildingContent">
                            <img class="ceoImage" src="/images/company/syBuilding.jpg"/>
                        </div>
                    </div>

                    <div class="rightContent">
                        <div class="content">
                            <p class="bodyP mainBodyP">
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgTodayCustomer')}"></span>
                                <span class="highLight bodyHighLight" th:utext="${#messages.msgOrNull('company.ceo.msgTrust')}"></span>
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgProductAndService')}"></span>
                                <span class="doubleTapSpan"></span>

                                <span th:text="${#messages.msgOrNull('company.ceo.msgCompanyBrandValue')}"></span>
                                <span th:text="${#messages.msgOrNull('company.ceo.msgCustomerTrustDetermined')}"></span>
                                <span class="doubleTapSpan"></span>

                                <span th:utext="${#messages.msgOrNull('company.ceo.msgRapidlyChangingSociety')}"></span>
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgQualityImprovement')}"></span>
                                <span class="highLight bodyHighLight" th:utext="${#messages.msgOrNull('company.ceo.msgInfiniteTrust')}"></span>
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgWillBecomeCompany')}"></span>
                                <span class="doubleTapSpan"></span>

                                <span th:utext="${#messages.msgOrNull('company.ceo.msgAlwaysLitenToCustomer')}"></span>
                                <span th:utext="${#messages.msgOrNull('company.ceo.msgApproachCustomer')}"></span>
                                <span class="doubleTapSpan"></span>

                                <span th:utext="${#messages.msgOrNull('company.ceo.msgThankYouVisiting')}"></span>

                            </p>
                            <div id="ceoPosition" class="ceoPositionKo">
                                <span th:utext="${#messages.msgOrNull('company.ceo.ceoPosition')}"></span>
                                <img class="ceoName" src="/images/company/ceoIntro/newCeoName.png"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer ::footer" id="footer"></div>

</div>

</body>
</html>