<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--AllCSS/JS-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/categoryHeader/companyHeader.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/categoryHeader/companyHeader.js"></script>
    <script type="text/javascript" src="/js/function/scrollerOverPrevent.js"></script>

    <link rel="stylesheet" href="/css/company/ceoInfo.css">
    <script type="text/javascript" src="/js/company/ceoIntro.js"></script>

</head>
<body>
<div class="wrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>
    <div class="ceoWrap">
        <div th:include="fragments/categoryHeader/companyHeader ::companyHeader" class="container1"></div>
        <div th:fragment="ceoInfo" class="ceoInfoContainer">
            <div class="ceoInfoBox">
                <!--           <div class="ceoInfoHeadText">
                               <h1>CEO 인사말</h1>
                               <p>고객과의 신뢰, 제품의 품질을 최우선으로 생각합니다.</p>
                           </div>-->
                <div class="ceoInfoContent firstContent">
                    <div class="rightContent firstRight">
                        <div class="content">
                            <img class="ceoImage" src="/images/company/ceoImage.png"/>
                        </div>
                    </div>
                    <div class="leftContent firstLeft">
                        <div class="content">
                            <p class="headP">
                                <span class="highLight">고객과의 신뢰</span>
                                <span>를 바탕으로<br></span>
                                <span class="highLight">최고의 품질과 서비스</span>
                                <span>를 제공하는<br></span>
                                <span class="highLight">SY-POLYTECH</span>
                                <span>이 되겠습니다.</span>
                            </p>

                            <p class="bodyP">
                                <span>당사 홈페이지를 방문해주신 고객 여러분을 환영합니다.</span>
                                <span class="tapSpan"></span>
                                <span>(주)에스와이폴리텍은 2010년 설립 이래, 고객의 신뢰를 최고의 가치로 두고
                                    최고의 품질과 서비스를 제공하기 위해 끊임 없는 연구 개발과 혁신을 통해
                                    최고의 품질과 기술로 노력하고 발전해오고 있습니다.
                                </span>
                                <img class="syLogo" src="/images/headerFooter/logoFullWidth.png"/>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="ceoInfoContent secondContent">
                    <div class="leftContent">
                        <div class="content buildingContent">
                            <img class="ceoImage" src="/images/company/syBuilding4.jpg"/>
                        </div>
                    </div>

                    <div class="rightContent">
                        <div class="content">
                            <p class="bodyP mainBodyP">
                                <span>오늘날의 고객은 기업에 대한</span>
                                <span class="highLight">믿음</span>
                                <span>의 정도에 따라 그 제품과 서비스를 선택합니다.<br></span>
                                <span class="doubleTapSpan"></span>
                                <span>이는 고객에게 외면받는 기업은 존재 의미 자체도 없고, 특정 기업이나 브랜드 가치가</span>
                                <span>고객의 신뢰에 의해서 결정된다는 뜻이기도 합니다.</span>
                                <span class="doubleTapSpan"></span>
                                <span>급변하는 현 사회에 환경에서,<br></span>
                                <span>당사는 더욱 철저한 품질 개선 활동과 투명 경영으로 고객과 협력사에게</span>
                                <span class="highLight">상생의 무한신뢰</span>
                                <span>를 바탕으로 진정한 도움을 드리는 기업이 되겠습니다.</span>

                                <span class="doubleTapSpan"></span>
                                <span>항상 고객의 소리에 귀를 기울이고, 고객의 입장이 되어<br></span>
                                <span>여러분께 다가서겠습니다.<br></span>
                                <span class="doubleTapSpan"></span>
                                <span>다시 한번 홈페이지를 방문해주셔서 감사드립니다.</span>
                                <img class="ceoName" src="/images/company/ceoIntro/ceoName.png"/>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer ::footer" id="footer"></div>

</div>

</body>
</html>