<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--AllCSS/JS-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/categoryHeader/companyHeader.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/categoryHeader/companyHeader.js"></script>
    <script type="text/javascript" src="/js/function/scrollerOverPrevent.js"></script>

    <link rel="stylesheet" href="/css/company/companyInfo.css">
    <script type="text/javascript" src="/js/company/companyInfo.js"></script>
</head>
<body>
<div class="wrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>
    <div class="companyWrap">
        <div th:include="fragments/categoryHeader/companyHeader ::companyHeader" class="container1"></div>
        <div th:fragment="companyInfo" class="infoContainer">
            <div class="infoBox">
                <div class="infoContent">
                    <table class="contentBody">
                        <colgroup>
                            <col class="head_col" style="width: 15%;"/>
                            <col/>
                        </colgroup>

                        <tbody>
                        <tr>
                            <th th:text="${#messages.msgOrNull('company.companyName')}"></th>
                            <td th:text="${#messages.msgOrNull('company.coporationSypolytech')}"></td>
                        </tr>

                        <tr>
                            <th th:text="${#messages.msgOrNull('company.ceo')}"></th>
                            <td th:text="${#messages.msgOrNull('footer.ceoName')}"></td>
                        </tr>

                        <tr>
                            <th th:text="${#messages.msgOrNull('company.establishment')}"></th>
                            <td th:text="${#messages.msgOrNull('company.establishmentDate')}"></td>
                        </tr>

                        <tr>
                            <th th:text="${#messages.msgOrNull('company.IndustryClassification')}"></th>
                            <td th:text="${#messages.msgOrNull('company.manufacturing')}"></td>
                        </tr>

                        <tr>
                            <th th:text="${#messages.msgOrNull('company.businessAddress')}"></th>
                            <td th:text="${#messages.msgOrNull('footer.companyAddress')}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="contentBody bottomTable">
                        <colgroup>
                            <col style="width: 15%;"/>
                            <col/>
                        </colgroup>

                        <tbody>
                        <tr>
                            <th th:text="${#messages.msgOrNull('comapany.majorBusiness')}"></th>
                            <td th:utext="${#messages.msgOrNull('comapany.majorBusinessContent')}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="sloganContentBody">
                        <div class="sloganContentBox">
                            <div class="sloganContentSmall forHumanBox">
                                <div class="contentSmallFirst">
                                    <h2>MORE SAFETY, </h2>
                                    <h2>MORE CONVENIENT</h2>
                                </div>

                                <div class="contentSmallSecond">
                                    <p th:text="${#messages.msgOrNull('company.info.moreSafe')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.moreConvenuentWorld')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.betterProduct')}"></p>
                                </div>
                            </div>
                            <div class="sloganContentLarge human"></div>
                        </div>



                        <div class="sloganContentBox">
                            <div class="sloganContentLarge nature"></div>
                            <div class="sloganContentSmall forNatureBox">
                                <div class="contentSmallFirst">
                                    <h2>ENVIRONMENTAL</h2>
                                    <h2>PROTECTION</h2>
                                </div>

                                <div class="contentSmallSecond">
                                    <p th:text="${#messages.msgOrNull('company.info.forDescendants')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.forSustatinableDevelopment')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.pursueGreenGrowth')}"></p>
                                </div>
                            </div>
                        </div>


                        <div class="sloganContentBox">
                            <div class="sloganContentSmall bestQuality">
                                <div class="contentSmallFirst">
                                    <h2>BEST QUALITY,</h2>
                                    <h2>RELIABLE PRODUCT</h2>
                                </div>

                                <div class="contentSmallSecond">
                                    <p th:text="${#messages.msgOrNull('company.info.useFreely')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.trustFirst')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.strickQuality')}"></p>
                                </div>
                            </div>
                            <div class="sloganContentLarge quality"></div>
                        </div>

                        <div class="sloganContentBox">
                            <div class="sloganContentLarge leader"></div>
                            <div class="sloganContentSmall globalLeader">
                                <div class="contentSmallFirst">
                                    <h2>EXPAND INTO THE GLOBAL</h2>
                                </div>

                                <div class="contentSmallSecond">
                                    <p th:text="${#messages.msgOrNull('company.info.forDescendants')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.forSustatinableDevelopment')}"></p>
                                    <p th:text="${#messages.msgOrNull('company.info.pursueGreenGrowth')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer ::footer" id="footer"></div>
</div>

</body>
</html>