body,
html,
li,
ul,
p,
div,
span {
    margin: 0;
    padding: 0;
}

.wrap{
    overflow: hidden;
}

.ceoInfoBox {
    position: relative;
    width: 80%;
    max-width: 1200px;
    min-width: 1100px;
    margin: 45px auto 0 auto;
}

.ceoInfoContent{
    position: relative;
    height: 450px;
}

.leftContent {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 10px;
}

.rightContent {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 10px;
}

.firstLeft{
    left: -50vw;
    transition: 1500ms ease-in-out;
}
.firstRight{
    right: -50vw;
    transition: 1500ms ease-in-out;
}

.secondContent{
    top: 30vh;
    margin-bottom: 200px;
    transition: 1000ms ease-in-out;
}

.content {
    position: relative;
    width: 550px;
    height: auto;
    min-height: 400px;
    overflow: hidden;
}


.headP {
    font-size: 35px;
    line-height: 45px;
    font-weight: 300;
    min-width: 530px;
    overflow: hidden;
}

.headP > span{
    float: left;
}

.headP:before {
    content: ' ';
    position: absolute;
    top: 180px;
    width: 20%;
    height: 2px;
    background-color: gray;
}

.bodyP {
    width: 530px;
    margin-top: 55px;
    font-size: 19px;
    line-height: 30px;
    color: gray;
    overflow: hidden;
}


.tapSpan {
    display: block;
    margin-bottom: 8px;
}

.doubleTapSpan {
    display: block;
    margin-bottom: 8px;
}

.highLight {
    color: deepskyblue;
    font-weight: 400;
}

.ceoImage {
    position: absolute;
    width: 100%;
}

/*.buildingContent:after{
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.1);
}*/

.syLogo {
    margin-top: 3px;
    width: 175px;
    float: right;
    display: none;
}

.mainBodyP{
    margin: 0 auto;
    width: 450px;
}

.ceoName{
    margin-top: -15px;
    float: right;
}

.ceoPositionKo {
    padding-left: 275px;
}

.ceoPositionEn {
    padding-left: 345px;
}

/*.ceoInfoHeadText {
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
}

.ceoInfoHeadText > h1 {
    display: inline-block;
    font-size: 40px;
    line-height: 80px;
    margin: 0;
}

.ceoInfoHeadText > p {
    margin: 0;
    font-size: 20px;
    line-height: 35px;
    color: gray;
}*/

.bodyHighLight{
    margin-right: -5px;
}

@media screen and (max-width:950px) {
    .ceoInfoBox{
        min-width: unset;
    }
    .content{
        width: 850px;
        margin: 0 auto;
    }

    .leftContent{
        width: 100%;
    }
    .rightContent{
        width:100%;
        float: none;
    }

    .headP{
        font-size: 25px;
        line-height: 35px;
    }

    .headP:before{
        top: 140px;
    }

    .bodyP{
        width: 600px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 45px;
    }

    .syLogo {
        float: none;
        width: 150px;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    #headerWrap{
        display: none;
    }

    .ceoInfoBox{
        width: 90% !important;
        height: auto;
        max-width: unset;
    }

    .ceoInfoContent{
        height: auto;
    }

    .content{
        width: 100% !important;
        min-height: 230px;
    }

    .leftContent{
        position: relative;
    }

    .rightContent{
        position: relative;
    }

    .headP{
        width: 90%;
        min-width: 90%;
        font-size: 22px;
        line-height: 32px;
    }

    .headP:before{
        top: 105px;
        width: 15%;
    }

    .bodyP{
        width: 95%;
        margin-top: 30px;
        font-size: 15px;
        line-height: 25px;
    }

    .tapSpan{
        margin-bottom: 2px;
    }

    .doubleTapSpan{
        margin-bottom: 4px;
    }

    .syLogo{
        display: none;
    }

    .secondContent{
        margin: 30px 0 40px 0;
        transition: 1200ms ease-in-out;
    }

    .leftContent{
        left: 0;
    }

    .rightContent{
        right: 0;
    }

    .mainBodyP{
        letter-spacing: -1px;
    }

    .ceoName{
        width: 100px;
        margin-top: 5px;
    }

    #ceoPosition{
        padding: 0 !important;
    }

    #ceoPosition span{
        width: 200px;
        display: block;
        padding-left: calc(100% - 200px);
    }
}
