@import url('https://fonts.googleapis.com/css2?Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@400;700&family=Song+Myung&family=Roboto:wght@500&display=swap');

body,
html,
li,
ul,
p,
div,
span,
h3, td, th, tr, tbody {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.wrap{
    overflow-x: hidden;
}

.infoContainer{
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.infoBox {
    padding-bottom: 100px;
}

.infoContent {
    width: 1000px;
    height: auto;
    margin: 95px auto 0 auto;
}

.contentBody {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 4px solid #4d4d4d;
    z-index: 10;
}

.contentBody tr {
    border-top: 1px solid #e6e6e6;
}

.contentBody th,
.contentBody td {
    line-height: 60px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

.contentBody th {
    font-weight: 700;
}

.contentBody td {
    color: #666666;
    font-weight: 400;
    padding-left: 15px;
}

.bottomTable {
    border-top: none;
    border-bottom: 4px solid #4d4d4d;
}

.bottomTable td{
    line-height: 30px;
}

.bottomTable th{
    line-height: 70px;
}

.sloganContentBody {
    box-sizing: border-box;
    margin: 50px auto;
    width: 100%;
}

.videoBody {
    box-sizing: border-box;
    margin: 50px auto;
    width: 100%;
}

.videoBody video{
    width: 100%;
    margin: 50px auto;
}

.sloganContentHeader{
    margin-bottom: 35px;
}

.sloganContentHeader > h2{
     font-size: 35px;
     line-height: 55px;
     letter-spacing: 1px;
 }

.sloganContentHeader > p{
    font-size: 18px;
    line-height: 27px;
    color: #666666;
}



.sloganContentBox{
    position: relative;
    height: 350px;
    overflow: hidden;
}

.sloganContentSmall {
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
    line-height: 5px;
}

.contentSmallFirst {
    padding: 60px 50px;
}

.contentSmallFirst::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 150px;
    height: 1px;
    width: 70%;
    border-bottom: 1px solid white;
    opacity: 0.4;
}

.contentSmallFirst h2 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.threeCommand h2 {
    font-size: 22px;
    line-height: 36px;
}

.contentSmallSecond{
    padding: 25px 40px;
}

.contentSmallSecond p {
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

.sloganContentLarge {
    width: 60%;
    height: 100%;
    float: left;
    line-height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.forHumanBox{
    background-color: coral;
}

.forNatureBox{
    /*background-color: #43d555;*/
    background-color: #32a741;
}

.bestQuality{
    background-color: #038fbd;
}

.globalLeader{
    background-color: #666666;
}


.human{
    background-image: url("/images/company/companyInfo/companyInfo1.jpg");
}

.nature{
    background-image: url("/images/company/companyInfo/companyInfo2.jpg");
}

.quality{
    background-image: url("/images/company/companyInfo/companyInfo3.jpg");
}

.leader{
    background-image: url("/images/company/companyInfo/companyInfo5.jpg");
}

@media only screen and (max-width: 480px) {

    #headerWrap{
        display: none;
    }

    .companyWrap{
        width: 100vw;
        overflow: hidden;
    }

    .infoContent{
        margin: 45px auto 0 auto;
        width: 80%;
    }

    .contentBody th, .contentBody td{
        line-height: 13px;
        font-size: 9px;
        padding: 10px 0;
    }

    .contentBody td{
        padding: 10px 8px;
    }

    .sloganContentBox{
        height: 180px;
    }

    .sloganContentSmall{
        position: absolute;
        width: 65%;
    }

    .forHumanBox{
        background-color: rgba(255, 132, 79, 0.6);
    }

    .forNatureBox{
        /*background-color: #43d555;*/
        background-color: rgba(50, 167, 65, 0.6);
    }

    .bestQuality{
        background-color: rgba(3, 143, 189, 0.6);
    }

    .globalLeader{
        background-color: rgba(102, 102, 102, 0.6);
    }

    .sloganContentLarge{
        width: 100%;
    }

    .contentSmallFirst{
        padding: 20px 10px 10px 10px;
    }

    .contentSmallFirst h2{
        font-size: 14px;
        line-height: 20px;
    }

    .contentSmallFirst::before{
        bottom: 110px;
    }

    .contentSmallSecond {
        padding: 10px;
    }

    .contentSmallSecond p{
        font-size: 11px;
        line-height: 16px;
        font-weight: 600;
    }

    .head_col{
        width: 20% !important;
    }

    .videoBody{
        margin: 15px auto;
    }
}