<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="css/fragments/mainPage/bookMark.css">
</head>

<body>

<div id="bookMarkWrap" th:fragment="bookMark">
    <div class="bookMarkHeader">
        <h2>Inquiry</h2>
        <p>문의하기</p>
        <i class="far fa-question-circle"></i>
    </div>

    <div class="bookMarkBody">
        <div class="bodyHeader">
            <img class="polymerIcon" src="/images/mainPage/bookMark/polymerIcon.png"/>
        </div>

        <div class="bodyContent">
            <p>제품정보, 주문관련사항, 거래문의 등</p>
            <p>궁금하신 사항에 대해 문의해주시면</p>
            <p>친철하고 빠르게 답변드리겠습니다.</p>

            <div class="inquiry_btn">
                <p>문의하기</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
