<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div id="categoryWrap" th:fragment="categoryBookMark">
    <div class="categoryHeader">
        <h2 class="categoryHeaderH2">Product</h2>
        <p class="categoryHeaderP">제품소개</p>
    </div>

    <div class="categoryBody">
        <div class="categoryBodyHeader">
            <img class="categoryIcon" src="/images/mainPage/bookMark/polymerIcon.png"/>
        </div>

        <div class="categoryBodyContent">
            <p class="categoryBodyContentP1">PVC, OLEFIN, XLPE, TPE 등</p>
            <p class="categoryBodyContentP2">당사가 생산하는 제품을</p>
            <p class="categoryBodyContentP3">소개해드리겠습니다.</p>

            <div class="categoryBtn">
                <p>이동하기</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
