<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div id="categoryWrap" th:fragment="categoryBookMark">
    <div class="categoryHeader">
        <h2 class="categoryHeaderH2">Product</h2>
        <p class="categoryHeaderP" th:text="${#messages.msgOrNull('bookMark.productDescriptions')}"></p>
    </div>

    <div class="categoryBody">
        <div class="categoryBodyHeader">
            <img class="categoryIcon" src="/images/mainPage/bookMark/polymerIcon.png"/>
        </div>

        <div class="categoryBodyContent">
            <p class="categoryBodyContentP1" th:text="${#messages.msgOrNull('bookMark.productContent1')}"></p>
            <span class="doubleTapSpan"></span>
            <p class="categoryBodyContentP2" th:text="${#messages.msgOrNull('bookMark.productContent2')}"></p>
            <p class="categoryBodyContentP3" th:text="${#messages.msgOrNull('bookMark.productContent3')}"></p>

            <div class="categoryBtn">
                <p th:text="${#messages.msgOrNull('bookMark.productMove')}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
