<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="inquiryWrap" th:fragment="inquiryBookMark">
    <div class="inquiryHeader">
        <h2>Inquiry</h2>
        <p>문의하기</p>
        <i class="far fa-question-circle"></i>
    </div>

    <div class="inquiryBody">
        <div class="inquiryBodyHeader">
            <i class="far fa-file-alt inquiryIcon"></i>
        </div>

        <div class="inquiryBodyContent">
            <p>제품정보, 주문관련사항, 거래문의 등</p>
            <p>궁금하신 사항에 대해 문의해주시면</p>
            <p>친철하고 빠르게 답변드리겠습니다.</p>

            <div class="inquiryBtn">
                <p>문의하기</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
