<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="inquiryWrap" th:fragment="inquiryBookMark">
    <div class="inquiryHeader">
        <h2>Inquiry</h2>
        <p th:text="${#messages.msgOrNull('bookMark.inquiry')}"></p>
        <i class="far fa-question-circle"></i>
    </div>

    <div class="inquiryBody">
        <div class="inquiryBodyHeader">
            <i class="far fa-file-alt inquiryIcon"></i>
        </div>

        <div class="inquiryBodyContent">
            <p th:text="${#messages.msgOrNull('bookMark.inquiryContent1')}"></p>
            <p th:text="${#messages.msgOrNull('bookMark.inquiryContent2')}"></p>
            <p th:text="${#messages.msgOrNull('bookMark.inquiryContent3')}"></p>

            <div class="inquiryBtn">
                <p th:text="${#messages.msgOrNull('bookMark.inquiry')}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
