<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="header">
    <div id="headerContainer">
        <a class="companyLogo" onclick="home()"></a>
        <div id="categoryWrap">
            <ul class="menuUl" style="user-select: auto;">
                <li>
                    <p onclick="ceoInfo()">SYpolytech</p>
                    <ul class="detailMenuUl">
                        <li onclick="ceoInfo()" th:text="${#messages.msgOrNull('company.ceoInfo')}"></li>
                        <li onclick="companyInfo()" th:text="${#messages.msgOrNull('company.companyInfo')}"></li>
                        <li onclick="companyOrigin()" th:text="${#messages.msgOrNull('company.companyOrigin')}"></li>
                        <li onclick="map()" th:text="${#messages.msgOrNull('company.companyRoute')}"></li>
                    </ul>
                </li>

                <li>
                   <p onclick="productPvc()" class="productList" th:text="${#messages.msgOrNull('product.report')}"></p>
                    <ul class="detailMenuUl">
                        <li onclick="productPvc()">PVC</li>
                        <li onclick="productOlefin()">OLEFIN</li>
                        <li onclick="productXlpe()">XLPE</li>
                        <li onclick="productTpe()">TPE</li>
                        <li onclick="productNemoTab()">NemoTab</li>
                    </ul>
                </li>

                <li>
                    <p onclick="rndDefault()" th:text="${#messages.msgOrNull('rd.report')}"></p>
                    <ul class="detailMenuUl">
                        <li onclick="rndDefault()" th:text="${#messages.msgOrNull('rd.rdCenter')}"></li>
                        <li onclick="equipment()" th:text="${#messages.msgOrNull('rd.laboratoryFacilities')}"></li>
                        <li onclick="certificates()" th:text="${#messages.msgOrNull('rd.certificates')}"></li>
                    </ul>
                </li>

                <li>
                    <p  onclick="inquiry()" th:text="${#messages.msgOrNull('customer.customerPage')}"></p>
                    <ul class="detailMenuUl">
                        <li onclick="inquiry()" th:text="${#messages.msgOrNull('customer.customerInquiry')}"></li>
                        <li onclick="inquiryProduct()" th:text="${#messages.msgOrNull('customer.productInquiry')}"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="languageBtnContainer">
            <h2 id="KR" onclick="lanKor()">KR</h2>
            <h2 id="EN" onclick="lanEng()">EN</h2>
        </div>
    </div>
    <div id="detailMenuWrap"> </div>
</div>
</body>
</html>