<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <style type="text/css">
    @-ms-viewport {
      width: device-width
    }

    @-o-viewport {
      width: device-width
    }

    @viewport {
      width: device-width
    }
  </style>
</head>
<body>
<div th:fragment="productHeader">
  <div class="box1">
    <h2 class="productText"> Product </h2>
    <ul class="content">
      <li class="productBigTitle">
        <a class="inproductBigTitleA">PVC</a>
      </li>
      <li class="productBigTitle">
        <a class="inproductBigTitle">PO</a>
      </li>
      <li class="productBigTitle">
        <a class="inproductBigTitle">nemoTab</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>