<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--CommonCSS-->
    <link rel="stylesheet" href="../css/fragments/header.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <link rel="stylesheet" href="../css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/categoryHeader/rndHeader.css">
    <script type="text/javascript" src="/js/fragments/categoryHeader/rndHeader.js"></script>
    <link rel="stylesheet" href="/css/fragments/mobileSideBar.css">
    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!--UniqueThisPage-->
    <link rel="stylesheet" href="/css/rnd/certificates.css">
    <script type="text/javascript" src="/js/rnd/certificates.js"></script>

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <script th:inline="javascript">
        const _syNa4_ = [[#{rd.syNa4}]];
        const _syNb4A_ = [[#{rd.syNb4A}]];
        const _syNb4B_ = [[#{rd.syNb4B}]];
        const _syG16A_ = [[#{rd.syG16A}]];
        const _designRegistrationCertificateA_ = [[#{rd.designRegistrationCertificateA}]];
        const _designRegistrationCertificateB_ = [[#{rd.designRegistrationCertificateB}]];
        const _designPropagandaCard_ = [[#{rd.designPropagandaCard}]];
        const _stdCodeMembershipCard_ = [[#{rd.stdCodeMembershipCard}]];
        const _patentMultiTap_ = [[#{rd.patentMultiTap}]];
        const _patentMultiTapcase_ = [[#{rd.patentMultiTapcase}]];
        const _patentConnectionTerminal_ = [[#{rd.patentConnectionTerminal}]];
        const _designProspectiveCompany_ = [[#{rd.designProspectiveCompany}]];
        const _Nb3Usb_ = [[#{rd.Nb3Usb}]];
        const _brandRegistrationSupertab_ = [[#{rd.brandRegistrationSupertab}]];
        const _brandRegistrationCertificatePicoTap_ = [[#{rd.brandRegistrationCertificatePicoTap}]];
        const _brandRegistrationCertificateMultiTap_ = [[#{rd.brandRegistrationCertificateMultiTap}]];
        const _serviceTicketRegistrationSupertab_ = [[#{rd.serviceTicketRegistrationSupertab}]];
        const _serviceTableRegistrationCertificatePicoTab_ = [[#{rd.serviceTableRegistrationCertificatePicoTab}]];
        const _practicalModelRegistrationCertificate_ = [[#{rd.practicalModelRegistrationCertificate}]];
        const _syNa3Usb_ = [[#{rd.syNa3Usb}]];
    </script>
</head>
<body>
<div class="wrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>

    <!-- first Section(productHeader) -->
    <div class="container1" th:include="/fragments/categoryHeader/rndHeader ::rndHeader"></div>

    <div class="certificatesContainer">
        <div class="certificateHeader">
            <h1>
                <span style="letter-spacing: 0">SYpolytech</span>
                <span th:text="${#messages.msgOrNull('rd.accumulatedTechnology')}"></span>
            </h1>
            <h1 th:text="${#messages.msgOrNull('rd.varietyCertifications')}"></h1>
        </div>
        <div class="certificatesContentContainer">
            <div th:each="cerfiticates, index : ${certificateIndex}" class="certificatesContent">
                <div class="certificateImage"  th:style="'background-image:url(' + ${cerfiticates} + ')'"></div>
                <h2 class="certificateContentHead" th:classappend="content+${index.index+1}">sample</h2>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer ::footer" id="footer" class="section fp-auto-height"></div>
</div>
</body>
</html>