<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--CommonCSS-->
    <link rel="stylesheet" href="../css/fragments/header.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <link rel="stylesheet" href="../css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/categoryHeader/rndHeader.css">
    <script type="text/javascript" src="/js/fragments/categoryHeader/rndHeader.js"></script>
    <link rel="stylesheet" href="/css/fragments/mobileSideBar.css">
    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!--UniqueThisPage-->
    <link rel="stylesheet" href="/css/rnd/equipment.css">
    <script type="text/javascript" src="/js/rnd/equipment.js"></script>

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <script th:inline="javascript">
        const _hydrometer_ = [[#{rd.hydrometer}]];
        const _digitalTensileStrengthElongationTester_ = [[#{rd.digitalTensileStrengthElongationTester}]];
        const _extruderForTesting_ = [[#{rd.extruderForTesting}]];
        const _smallMixer_ = [[#{rd.smallMixer}]];
        const _coldStrikeTester_ = [[#{rd.coldStrikeTester}]];
        const _thermalStabilityTester_ = [[#{rd.thermalStabilityTester}]];
        const _siphonPress_ = [[#{rd.siphonPress}]];
        const _volumeResistanceTester_ = [[#{rd.volumeResistanceTester}]];
        const _testOven_ = [[#{rd.testOven}]];
        const _rollMill_ = [[#{rd.rollMill}]];
        const _oxygenIndexTester_ = [[#{rd.oxygenIndexTester}]];
        const _oilResistanceTester_ = [[#{rd.oilResistanceTester}]];
    </script>
</head>
<body>
<div class="wrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>

    <!-- first Section(productHeader) -->
    <div class="container1" th:include="/fragments/categoryHeader/rndHeader ::rndHeader"></div>

    <div class="certificatesContainer">
        <div class="certificatesContentContainer">
            <div th:each="equipment, index : ${equipmentIndex}" class="equipmentContent">
                <div class="equipmentImage"  th:style="'background-image:url(' + ${equipment} + ')'"></div>
                <h2 class="certificateContentHead" th:classappend="content+${index.index+1}">sample</h2>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer ::footer" id="footer" class="section fp-auto-height"></div>
</div>
</body>
</html>