
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel=" shortcut icon" href="/resources/image/favicon/favicon.ico" style="user-select: auto;">
    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <title>sample</title>
    <link rel="stylesheet" href="/resources/css/fullpage/fullpage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    <!--datetimePicker-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/resources/css/main/mainPage.css">

    <!--jquery-->
    <script type="text/javascript" src="/resources/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery/jquery-ui.min.js"></script>

    <!--fullpage-->
    <script type="text/javascript" src="/resources/js/fullpage/fullpage.js"></script>

    <!--thisPage-->
    <script type="text/javascript" src="/resources/js/main/mainPage.js"></script>
</head>
<body>
<p>sdfsdfsdfs</p>
</body>
</html>
