<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel=" shortcut icon" href="/image/favicon/favicon.ico" style="user-select: auto;">
    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <title>sample</title>

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--thisPage-->
    <link rel="stylesheet" href="css/main/mainPage.css">
    <script type="text/javascript" src="/js/main/mainPage.js"></script>

    <!--AllCSS/JS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">
    <link rel="stylesheet" href="css/fragments/mainPage/inquiryBookMark.css">
    <link rel="stylesheet" href="css/fragments/mainPage/categoryBookMark.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/function/scrollerOverPrevent.js"></script>

    <!--fullpage-->
    <link rel="stylesheet" href="/css/fullpage/fullpage.css">
    <script type="text/javascript" src="/js/fullpage/fullpage.js"></script>

    <!--swiper-->
    <link rel="stylesheet" href="/css/swiper/swiper-5.45.css">
    <script src="/js/swiper/swiper-5.45.js"></script>


    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!--Text Font--->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div id="mainWrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>
    <div th:include="fragments/mainPage/inquiryBookMark ::inquiryBookMark" id="inquiryBookMarkWrap"></div>
    <div th:include="fragments/mainPage/categoryBookMark ::categoryBookMark" id="categoryBookMarkWrap"></div>
    <div id="fullpage" class="mainContainer">
        <div id="mainFirstContainer" class="section">
            <!-- <video data-autoplay loop muted class="mainFirstVideo">
                <source src="images/mainPage/mainVideoKorean720p.mov" type="video/mp4">
            </video>-->
            <div class="mainFirstTextBox">
              <h2 class="textBoxHead">way to the future,</h2>
                <h2 class="textBoxHead bigHead">SY-Polytech</h2>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slideImageContent innovation"></div>
                    </div>

                    <div class="swiper-slide ">
                        <div class="slideImageContent change"></div>
                    </div>

                    <div class="swiper-slide collaboration">
                        <div class="slideImageContent collaboration"></div>
                    </div>

                    <div class="swiper-slide ">
                        <div class="slideImageContent solution"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mainThirdContainer" class="section ">
            <div class="mainThirdBox">
                <div class="mainThirdContent">
                    <div class="mainThirdHeader">
                        <h2>SY-POLYTECH</h2>
                        <h2>PRODUCTS</h2>
                        <p>에스와이폴리텍의 주요 제품군을 소개합니다.</p>
                    </div>

                    <div class="productBoxContainer topBox">
                        <div class="productBox leftBox">
                            <h1 class="productBoxHead">PRODUCTS</h1>
                            <p class="productBoxMore">더 알아보기</p>
                        </div>
                        <div class="productBox middleBox">
                            <div class="productBoxImage productBoxPvc"></div>
                            <h1 class="productBoxHead">PRODUCTS</h1>
                        </div>
                        <div class="productBox rightBox">
                            <div class="productBoxImage productBoxOlefin"></div>
                        </div>
                    </div>

                    <div class="productBoxContainer bottomBox">
                        <div class="productBox leftBox">
                            <div class="productBoxImage productBoxXlpe"></div>
                        </div>
                        <div class="productBox middleBox">
                            <div class="productBoxImage productBoxTpl"></div>
                        </div>
                        <div class="productBox rightBox">
                            <div class="productBoxImage productBoxNemotab"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="mainSecondContainer" class="section ">
            <div class="mainInnerBox">
                <div class="innerHeadContainer">
                    <ul class="innerHeadUl">
                        <li>
                            <div class="innerHeadContent">
                                <div class="topContentBox">
                                    <span class="topContent topContentOn"><p id="forHuman">FOR HUMAN</p></span>
                                    <span class="topContent"><p id="forNature">FOR NATURE</p></span>
                                    <span class="topContent"><p id="bestQuality">BEST QUALITY</p></span>
                                    <span class="topContent"><p id="globalLeader">GLOBAL LEADER</p></span>
                                </div>

                                <div class="mainContent">
                                    <span><p class="mainContentP01">더 안전하고, 편리한 세상을 위해,</p></span>
                                    <span><p class="mainContentP02">더 나은 제품을 만들어갑니다.</p></span>
                                    <span><p class="mainContentP03"></p></span>
                                </div>

                                <div class="mainContent mainContentRight">
                                    <p>
                                        아이들이 마음 편히 놀 수 있게,<br>
                                        더 편리하고 안전한 세상을 위해<br>
                                        SY-POLYTECH이 앞장서겠습니다.
                                    </p>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="innerImageContainer">
                    <div class="InnerImageBox">
                        <ul class="innerImageUl">
                            <li class="slideImage02 innerImage">
                                <div class="innerImageContent">
                                    <img class="mainSecondImg02" src="images/mainPage/mainSecondImage/forHuman_02.jpg">
                                </div>
                            </li>

                            <li class="slideImage03 innerImage">
                                <div class="innerImageContent">
                                    <img class="mainSecondImg03" src="images/mainPage/mainSecondImage/forHuman_03.jpg">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="mainFourthContainer" class="section">
            <div class="accountBox">
                <div class="mainFourthHeadText">
                    <h1>주요 거래처 현황</h1>
                    <p>수많은 기업과 신뢰를 갖고 거래하고 있습니다.</p>
                </div>
                <div class="accountContainer">
                <span th:each="customer : ${customerIndex}" class="accountInfoCell"
                      th:style="'background-image:url(' + ${customer} + ')'">
                </span>
                </div>
            </div>
        </div>

        <div th:include="fragments/footer ::footer" id="footer" class="section fp-auto-height"></div>
    </div>
</div>

<!--swiper-->
<script>
const mainPage = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal', // 수직, 수평 수평 : vertical
        loop: true,
        autoplay:{
            delay: 4000,
        },
});

</script>
</body>
</html>
