<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel=" shortcut icon" href="/image/favicon/favicon.ico" style="user-select: auto;">
    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <title>sample</title>
    <link rel="stylesheet" href="/css/fullpage/fullpage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="css/main/mainPage.css">
    <!--AllCSS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--fullpage-->
    <script type="text/javascript" src="/js/fullpage/fullpage.js"></script>

    <!--thisPage-->
    <script type="text/javascript" src="/js/main/mainPage.js"></script>
</head>
<body>
<div id="mainWrap">
    <header th:include="fragments/header ::header" id="headerWrap"></header>
    <div id="fullpage" class="mainContainer">
        <div id="mainFirstContainers" class="section">
            <video data-autoplay loop muted class="mainFirstVideo">
                <source src="images/mainPage/mainVideoKorean720p.mov" type="video/mp4">
            </video>
        </div>

        <div id="mainSecondContainer" class="section ">

        </div>

        <div id="mainThirdContainer" class="section ">

        </div>

        <div id="mainFourthContainer" class="section">
            <div class="secondHeader">
                <h1>주요 거래처 현황</h1>
                <p>수많은 기업과 신뢰를 갖고 거래하고 있습니다.</p>
            </div>
            <div class="accountContainer">
                <span th:each="customer : ${customerIndex}"  class="accountInfoCell"
                      th:style="'background-image:url(' + ${customer} + ')'">
                </span>
            </div>
        </div>

        <div th:include="fragments/footer ::footer" id="footer" class="section fp-auto-height"></div>

    </div>
</div>
</body>
</html>
