<!DOCTYPE html>
<html lang="en" xmlns:text-decoration="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Product</title>

    <link rel="stylesheet" href="css/product/product.css">

    <!--AllCSS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">

    <!--AllCSS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--thisPage-->
    <script type="text/javascript" src="/js/product/product.js"></script>

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>
<body>
<div id="mainWrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>

    <!-- Frist Section -->
    <div class="back1">
        <div class="back2">
            <h2 class="back3">
                CarveKK
            </h2>
            <ul class="back4">
                <li class="back5">
                    <a class="back6">건축용</a>
                </li>
                <li class="back7">
                    <a class="back8">토목용</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Second Section -->
    <div class="mid1" style="background-color: salmon; height: 3000px;">
        <ul>
            <li>
                <a><img src="/static/images/product/PLUG.jpg"></a>
            </li>

            <li>시발 존나게 ㅈ같네 시발 </li>
            <li>머절이</li>
        </ul>
        <div class="mid2" style="background-color: darkgreen; height: 500px;">
            <div class="mid3" style="background-color: aquamarine; height: 400px">

            </div>

        </div>
    </div>

    <div th:include="fragments/footer ::footer" id="footer" class="section fp-auto-height"></div>
</div>
</body>
</html>