<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <!--jquery-->
    <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>

    <!--AllCSS/JS-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/categoryHeader/customerHeader.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/categoryHeader/customerHeader.js"></script>
    <script type="text/javascript" src="/js/function/scrollerOverPrevent.js"></script>

    <!--EmailJS-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

    <!--sweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="stylesheet" href="/css/customer/inquiry.css">
    <script type="text/javascript" src="/js/customer/productInquiry.js"></script>

</head>
<body>
<div class="wrap">
    <div th:include="fragments/header ::header" id="headerWrap"></div>
    <div class="inquiryWrap">
        <div th:include="fragments/categoryHeader/customerHeader ::customerHeader" class="container1"></div>
        <div class="inquiryContainer">
            <div class="inquiryBox">
                <div class="inquiryHeader">
                    <h3 th:text="${#messages.msgOrNull('customer.inquiry.productInquiry')}"></h3>
                    <p th:text="${#messages.msgOrNull('customer.inquiry.productInquiryContent')}"></p>
                </div>

                <div class="content">
                    <h3 th:text="${#messages.msgOrNull('customer.inquiry.contactPersonInfo')}"></h3>
                    <form id="inquiryInformation">
                        <table class="inquiryTable">
                            <tr>
                                <th th:text="${#messages.msgOrNull('customer.inquir.businessName')}"> <span class="essential">*</span></th>
                                <td><input id="inputCompanyName" type="text" name="companyName" th:placeholder="${#messages.msgOrNull('customer.inquiry.pleaseInputBusinessName')}"></td>
                            </tr>

                            <tr>
                                <th th:text="${#messages.msgOrNull('customer.inquiry.contactPerson')}"> <span class="essential">*</span></th>
                                <td><input id="inputName" type="text" name="name"  th:placeholder="${#messages.msgOrNull('customer.inquiry.pleaseInputChargePerson')}"></td>
                            </tr>

                            <tr>
                                <th th:text="${#messages.msgOrNull('customer.inquiry.departmentAndPosition')}"></th>
                                <td><input id="inputPosition" type="text" name="position"  th:placeholder="${#messages.msgOrNull('customer.inquiry.pleaseInputDepartmentPosition')}"></td>
                            </tr>

                            <tr>
                                <th th:text="${#messages.msgOrNull('cusomer.inquiry.email')}"> <span class="essential">*</span></th>
                                <td class="tdEmail">
                                    <input id="idEmail" type="text" name="idEmail">
                                    <span class="atSign">@</span>
                                    <input id="addressEmail" type="text" name="addressEmail">
                                    <input id="fullEmail" type="hidden" name="fullEmail">
                                    <select id="addressEmailSelector">
                                        <option value="" th:text="${#messages.msgOrNull('customer.inquiry.directInput')}"></option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="nate.com">nate.com</option>
                                        <option value="gmail.com">gmail.com</option>
                                    </select>

                                    <p class="emailChecker" style="display: none" th:text="${#messages.msgOrNull('customer.inquiry.pleasecheckEmail')}"></p>
                                </td>
                            </tr>

                            <tr>
                                <th th:text="${#messages.msgOrNull('customer.inquiry.productType')}"> <span class="essential">*</span></th>
                                <td>
                                    <input id="productType" type="text" name="productType">
                                    <select id="productTypeSelector">
                                        <option value="" th:text="${#messages.msgOrNull('customer.inquiry.pleaseInputProductType')}"></option>
                                        <option value="PVC">PVC</option>
                                        <option value="OLEFIN">OLEFIN</option>
                                        <option value="TPE">TPE</option>
                                        <option value="XLPE">XLPE</option>
                                        <option value="nemoTab">nemoTab</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th th:text="${#messages.msgOrNull('customer.inquiry.inquiryTitle')}"> <span class="essential">*</span></th>
                                <td><input id="inquiryTitle" type="text" name="inquiryTitle"  th:placeholder="${#messages.msgOrNull('customer.inquiry.pleaseInquiryTitle')}"></td>
                            </tr>

                            <tr>
                                <th th:text="${#messages.msgOrNull('customer.inquiry.inquiryContact')}"> <span class="essential">*</span></th>
                                <td>
                                    <textarea name="inquiryBody" th:placeholder="${#messages.msgOrNull('customer.inquiry.pleaseInputContent')}" class="etc_area" id='inquiryBody'></textarea>
                                </td>
                            </tr>

                        </table>
                    </form>
                    <h4 th:text="${#messages.msgOrNull('customer.inquiry.personalInfomation')}"><span class="essential" th:text="${#messages.msgOrNull('customer.inquiry.required')}"></span></h4>
                    <p th:text="${#messages.msgOrNull('customer.inquiry.personalInformationGuide')}"></p>
                    <table class="personalInformationTable">
                        <tr>
                            <td th:text="${#messages.msgOrNull('customer.inquiry.collecteditem')}"></td>
                            <td th:text="${#messages.msgOrNull('customer.inquiry.purposeOfCollection')}"></td>
                            <td th:text="${#messages.msgOrNull('customer.inquiry.retentionPeriod')}"></td>
                        </tr>
                        <tr>
                            <td th:text="${#messages.msgOrNull('customer.inquiry.nameEmail')}"></td>
                            <td th:text="${#messages.msgOrNull('customer.inquiry.sendAnswers')}"></td>
                            <td th:text="${#messages.msgOrNull('customer.inquiry.destroyacheiveingpurpose')}"></td>
                        </tr>
                    </table>

                    <button onclick="sendEmail()" th:text="${#messages.msgOrNull('customer.inquity.quoteInquiry')}"></button>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer ::footer" id="footer"></div>

</div>

</body>
</html>