.mainFirstContainer{
    background-color: blue;
}

.mainSecondContainer{
    background-color: pink;
}

.mainThirdContainer{
    background-color: gray;
}

.mainFourthContainer{
    background-color: red;
}