* {
    margin: 0;
    padding: 0;
}

html,
body {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.section {
    overflow: hidden;
}

#mainFirstContainer {
    width: 100vw;
    position: relative;
}

#mainFirstContainer:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.mainFirstTextBox {
    position: absolute;
    top: 300px;
    left: 180px;
    z-index: 10;
}

.textBoxHead {
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: block;
}

.textBoxBody {
    font-size: 25px;
    line-height: 45px;
    height: 45px;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: block;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.slideImageContent {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    left: 5%;
    transform: scale(1.1, 1.1);
    transform-origin: center;
    transition: all 2s ease-in-out;
}

.innovation {
    background-image: url("/images/mainPage/mainFirstImage/innovation.jpg");
}

.change {
    background-image: url("/images/mainPage/mainFirstImage/change.jpg");
}

.collaboration {
    background-image: url("/images/mainPage/mainFirstImage/collaboration3.jpg");
}

.solution {
    background-image: url("/images/mainPage/mainFirstImage/solution2.jpg");
}

.innoSpan {
    color: #0095ff;
}

.collaboSpan {
    color: #003200;
}

.changeSpan {
    color: #ffd000;
}

.solutionSpan {
    color: coral;
}


.mainFirstVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    height: auto;
}

#mainSecondContainer {
    position: relative;
}

#mainThirdContainer {
    position: relative;
}

#mainFourthContainer {
    position: relative;
}


/*mainPage second css*/
.mainInnerBox {
    position: relative;
    width: 100%;
    height: 100%;
}

.innerHeadContainer {
    width: 1200px;
    margin: 275px auto 25px auto;
}

.innerHeadUl {
    width: 100%;
    overflow: hidden;
}

.innerHeadContent {
    position: relative;
    width: 100%;
}

.topContentBox {
    display: block;
    width: 100%;
}

.topContent {
    width: 125px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    color: gray;
}

.topContent p {
    cursor: pointer;
    display: inline;
    border-bottom: 2px solid gray;
}

.topContentOn P {
    color: green;
    border-bottom: 2px solid green;
}

.mainContent {
    vertical-align: top;
    display: inline-block;
    font-size: 43px;
    letter-spacing: -3px;
    line-height: 65px;
}

.mainContent > span {
    position: relative;
    display: block;
    width: 600px;
    height: 65px;
}

.mainContent > span > p {
    position: absolute;
    overflow: hidden;
    height: 0;
    vertical-align: bottom;
    font-family: 'NanumSquare';
    font-weight: 700;
    color: #555555;
}

.mainContentRight {
    margin-left: 50px;
    font-size: 22px;
    line-height: 32px;
    color: gray;
    letter-spacing: 0;
}

.innerImageContainer {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.InnerImageBox {
    width: 1400px;
}

.innerImage {
    position: absolute;
    width: 650px;
}

.slideImage01 {
    left: -300px;
}

.slideImage02 {
    left: -50vw;
    top: -25px;

}

.slideImage03 {
    top: -95px;
    right: -50vw;
}

.slideImage04 {
    width: 300px;
    top: -435px;
    right: calc(-50vw + 700px);
}

.innerImageContent img {
    width: 100%;
}

/*mainPage second css end*/

/*mainPage third css*/
.mainThirdBox {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.mainThirdContent {
    position: relative;
    width: 1800px;
    height: 760px;
    margin: 85px auto 0 auto;
    padding-top: 10px;
    background-color: #f5f5f5;

}

.mainThirdHeader {
    position: absolute;
    top: 185px;
    left: 100px;
    margin: 0 auto;
}

.mainThirdHeader > h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    color: black;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.8);
}

.mainThirdHeader > p {
    color: black;
    margin-top: 20px;
    line-height: 25px;
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 2px rgba(144, 238, 144, 0.8);
}

.productBoxContainer {
    position: relative;
    left: 600px;
    width: calc(100vw - 600px);
    max-width: 1200px;
    min-width: 1080px;
    margin: 0;
}

.topBox {

}

.bottomBox {
    top: 385px;
}


.productBox {
    position: absolute;
    max-width: 370px;
    min-width: 330px;
    width: calc((100% - 90px) / 3);
    background-color: white;
    overflow: hidden;
}

.leftBox {
    left: 40px;
}

.middleBox {
    left: calc(600px - 185px);
}

.rightBox {
    right: 40px;
}

.productBoxHead {
    text-align: center;
    line-height: 370px;
    font-size: 55px;
    font-weight: bold;
    transition: 1s ease-in-out;
}

.productBox:hover .productBoxHead {
    transform: scale(1.1);
}

.productBoxMore {
    position: absolute;
    font-size: 18px;
    top: 300px;
    right: 30px;
    opacity: 0;
    transition: 1500ms ease-in-out;
    cursor: pointer;
    user-select: auto;
}

.productBox:hover .productBoxMore {
    opacity: 1;
}

.productBoxImage {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    transition: 1s ease-in-out;
}

.productBox:hover .productBoxImage {
    transform: scale(1.1);
}

.productBoxImageHead {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 370px;
    font-size: 55px;
    font-weight: bold;
    transition: 1500ms ease-in-out;
    color: white;
    text-shadow: 0 0 10px black;
    opacity: 0;
    z-index: 10;
}

.productBoxImageMore {
    position: absolute;
    font-size: 18px;
    top: 300px;
    right: 30px;
    opacity: 0;
    transition: 1500ms ease-in-out;
    cursor: pointer;
    user-select: auto;
    z-index: 20;
}

.productBox:hover .productBoxImageMore {
    color: white;
    text-shadow: 0 0 10px black;
    opacity: 1;
}

.productBoxPvc {
    background-image: url("/images/mainPage/mainThirdImage/pipe3.jpg");
}

.productBox .productBoxImage:after {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 1s ease-in-out;
}

.productBox:hover .productBoxImage:after {
    opacity: 1;
}

.productBox:hover .productBoxImageHead {
    opacity: 1;
}

.productBoxOlefin {
    background-image: url("/images/mainPage/mainThirdImage/olefin2.jpg");
}

.productBoxXlpe {
    background-image: url("/images/mainPage/mainThirdImage/xlpe2.jpg");
}

.productBoxTpl {
    background-image: url("/images/mainPage/mainThirdImage/tpl.jpeg");
}

.productBoxNemotab {
    background-image: url("/images/mainPage/mainThirdImage/nemoTab.jpeg");
}

/*mainPage third css end*/

/*account_container*/

.accountBox {
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.mainFourthHeadText {
    position: relative;
    width: 100vw;
    min-width: 1300px;
    top: 50px;
    margin: 0 0 75px 0;
    text-align: center;
}

.mainFourthHeadText > h1 {
    display: inline-block;
    font-size: 35px;
    line-height: 65px;
    margin: 0;
}

.mainFourthHeadText > p {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
    color: gray;
}

.accountContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 25px auto;
}

.accountContainer > h1 {
    margin: 400px;
}

.accountInfoCell {
    display: inline-block;
    margin: 10px 10px;
    width: 200px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 300ms ease-in-out;
    background-color: white;
}

.slideTrack {
    position: relative;
    width: 100%;
    height: 120px;
    margin: 50px 0 0 0;
    overflow: hidden;

}

.slideContentBox {
    position: absolute;
    width: 3300px;
    height: 120px;
    overflow: hidden;
}

.leftContentBox {
    left: 0;
    transition: all ease-in-out 700ms;
}

.rightContentBox {
    right: -162px;
    transition: all ease-in-out 700ms;
}

/* account_container end*/

/*hover event*/
.topContent p:hover {
    color: green;
    border-bottom: 2px solid green;
}

/*hover event end*/

@media only screen and (max-width: 480px) {

    .mainFirstTextBox {
        left: 25px;
        top: 180px;
    }

    .textBoxHead {
        font-size: 45px;
        line-height: 55px;
        letter-spacing: -2px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    .textBoxBody {
        font-size: 14px;
        line-height: 22px;
        height: 22px;
    }

    .mainThirdBox {
        width: 100vw;
        height: 100%;
    }

    .mainThirdContent {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .mainThirdHeader {
        width: 100%;
        top: 50px;
        left: 0;
        text-align: center;
    }

    .mainThirdHeader > h2 {
        display: inline-block;
        font-size: 25px;
        line-height: 38px;
    }

    .mainThirdHeader > p {
        margin-top: 0;
        line-height: 25px;
        font-size: 17px;
    }

    .productBoxContainer {
        top: 140px;
        left: 0;
        width: 100%;
        min-width: unset;
        max-width: unset;
        text-align: center;
    }

    .productBox {
        position: relative;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        width: 40%;
        max-width: unset;
        min-width: unset;
    }

    .leftBox, .middleBox, .rightBox {
        left: 0 !important;
        right: 0 !important;
    }

    .productBoxHead {
        font-size: 22px;
    }

    .productBoxImageHead {
        font-size: 22px;
    }

    .innerHeadContainer {
        width: 90%;
        margin: 150px auto 0 auto;
    }

    .topContent {
        width: 23%;
        font-size: 10px;
    }

    .mainContent {
        letter-spacing: -1px;
        font-size: 18px;
        line-height: 22px;
    }

    .mainContent > span {
        height: 35px;
    }

    .innerImageContainer {
        width: 90%;
    }

    .innerImage {
        width: 80%;
    }

    .slideImage02 {
        top: 0;
        left: -35vw;
    }

    .slideImage03 {
        top: 125px;
    }

    .accountBox {
        margin-top: 10px;
    }

    .mainFourthHeadText {
        margin: 0 0 35px 0;
        min-width: unset;
    }

    .mainFourthHeadText > h1 {
        font-size: 24px;
        line-height: 35px;
    }

    .mainFourthHeadText > p {
        font-size: 16px;
        line-height: 25px;
    }

    .slideContentBox {
        width: 1875px;
    }

    .slideTrack {
        margin: 25px 0 0 0;
        height: 90px;
    }

    .accountContainer {
        width: 90%;
    }

    .accountInfoCell {
        width: 110px;
    }
}