<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>

<body>
<div th:fragment="default">
    <h3 class="productNameTitle"> PVC에 대하여 </h3>

    <div class="linkBox pcBr">
        <a href="#a1" class="a">PVC Compound란 무엇인가?</a>
        <a href="#a2" class="a">PVC Resin 구조식</a>
        <a href="#a3" class="a">PVC Resin 특징</a>
    </div>

</div>

</body>
