<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container2-1">
    <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.pvc.aboutConstructionPvc')}"> </h3>

    <div class="linkBox pcBr">
        <a href="#a1" class="a" th:text="${#messages.msgOrNull('product.pvc.forArchitecturalMolding')}"></a>
        <a href="#a2" class="a" th:text="${#messages.msgOrNull('product.pvc.pipe')}"></a>
        <a class="a" style="display: none"></a>
        <a class="a" style="display: none"></a>
        <a href="#a3" class="a">To be launched</a>
    </div>
</div>

<div class="pvcLeftRightContainer" id="a1">
    <div class="pvcLeftContainer pvcMiddleHeight">
        <div class="pvcContent1 pvcLeftInContainer">
            <p class="generalCable titles"> <a th:text="${#messages.msgOrNull('product.pvc.forArchitecturalMolding')}"></a> </p>
            <ul class="generalCableCharacteristic">
                <li><a th:text="${#messages.msgOrNull('product.pvc.hardness')}"></a>78</li>
                <li><a th:text="${#messages.msgOrNull('product.pvc.roomTemperatureTensileStrength')}"></a>13</li>
                <li><a th:text="${#messages.msgOrNull('product.pvc.roomTemperatureElongation')}"></a>251</li>
                <li><a th:text="${#messages.msgOrNull('product.pvc.thermalStability')}"></a>180m</li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer" style="padding-left: 81px !important;">
        <img src="../../images/product/construction1-1.jpeg" class="pvcImageInFit">
    </div>
</div>

<div class="pvcLeftRightContainer" id="a2">
    <div class="pvcLeftContainer pvcMiddleHeight">
        <div class="pvcContent2 pvcLeftInContainer resetMargin">
            <p class="generalCable titles"> <a th:text="${#messages.msgOrNull('product.pvc.pipe')}"></a> </p>
            <ul class="generalCableCharacteristic">
                <li><a th:text="${#messages.msgOrNull('product.pvc.hardness')}"></a>76</li>
                <li><a th:text="${#messages.msgOrNull('product.pvc.roomTemperatureTensileStrength')}"></a>15.5</li>
                <li><a th:text="${#messages.msgOrNull('product.pvc.roomTemperatureElongation')}"></a>290</li>
                <li><a th:text="${#messages.msgOrNull('product.pvc.coldResistances')}"></a>-15'C</li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer">
        <img src="../../images/product/construction3.jpg" class="pvcImageInFit">
    </div>
</div>

<div class="pvcLeftRightContainer" id="a3">
    <div class="pvcLeftContainer pvcMiddleHeight" style="padding-right: 36px;">
        <div class="pvcContent2 pvcLeftInContainer resetMargin">
            <p class="generalCable titles"> <a>To be launched</a> </p>
            <ul class="generalCableCharacteristic">
                <li th:text="${#messages.msgOrNull('product.pvc.developingNewProducts')}"></li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer" style="padding-left: 94px !important;">
        <img src="../../images/product/construction2.png" class="pvcImageInFit">
    </div>
</div>
</html>