<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container2-1">
    <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.pvc.aboutPvcForCable')}"></h3>

    <div class="linkBox pcBr">
        <a href="#a1" class="a" th:text="${#messages.msgOrNull('product.pvc.generalPurpose')}"></a>
        <a href="#a2" class="a" th:text="${#messages.msgOrNull('product.pvc.flameRetardance')}"></a>
        <a href="#a3" class="a" th:text="${#messages.msgOrNull('product.pvc.coldResistance')}"></a>
        <a href="#a4" class="a" th:text="${#messages.msgOrNull('product.pvc.additionalFunction')}"></a>
        <a href="#a5" class="a" th:text="${#messages.msgOrNull('product.pvc.certifiedCompound')}"></a>
    </div>
</div>

<div class="pvcContent1">
    <div id="a1">
        <p class="generalCable titlesCable"> <a th:text="${#messages.msgOrNull('product.pvc.generalPurposeCableProductCharacteristics')}"></a> </p>
        <ul class="generalCableCharacteristic">
            <li th:text="${#messages.msgOrNull('product.pvc.pvcCompoundForCableSheathing')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.generalQualityCharacteristics')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.extrusionAndProcessingCharacteristics')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.fastDelivery')}"></li>
        </ul>
    </div>

    <div class="pvcProductPropertiesImages">
        <img src="../../images/product/generalPurpose.png">
    </div>
</div>

<div class="pvcContent2">
    <div id="a2">
        <p class="generalCable titlesCable"> <a th:text="${#messages.msgOrNull('product.pvc.flameRetardantCableProductCharacteristics')}"></a> </p>
        <ul class="generalCableCharacteristic">
            <li th:text="${#messages.msgOrNull('product.pvc.flameRetardantForCableSheathingPvcCompound')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.variousFlameRetardantProperties')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.conformityToVariousStandards')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.flexibleExtrusionAndProcessingCharacteristics')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.variousOptionsAvailable')}"></li>
        </ul>
    </div>

    <div class="pvcProductPropertiesImages">
        <img src="../../images/product/flameRetardance.png">
    </div>
</div>

<div class="pvcContent2">
    <div id="a3">
        <p class="generalCable titlesCable"> <a th:text="${#messages.msgOrNull('product.pvc.coldResistantCableProductCharacteristics')}"></a> </p>
        <ul class="generalCableCharacteristic">
            <li th:text="${#messages.msgOrNull('product.pvc.coldResistantPvcCompoundForCableSheathing')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.lowTemperatureCharacteristics')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.fastDelivery')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.goodSurfaceGloss')}"></li>
        </ul>
    </div>

    <div class="pvcProductPropertiesImages">
        <img src="../../images/product/coldResistance.png">
    </div>
</div>

<div class="pvcContent2">
    <div id="a4">
        <p class="generalCable titlesCable"> <a th:text="${#messages.msgOrNull('product.pvc.additionalFunctionCableProductCharacteristics')}"></a> </p>
        <ul class="generalCableCharacteristic">
            <li th:text="${#messages.msgOrNull('product.pvc.ecoFriendly')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.lowToxicity')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.antibacterialAntiTermiteAntiRodentPropertiesGiven')}"></li>
        </ul>
    </div>

    <div class="pvcProductPropertiesImages">
        <img src="../../images/product/additionalCharacterisrics.png">
    </div>
</div>

<div class="pvcContent2">
    <div id="a5">
        <p class="generalCable titlesCable"> <a th:text="${#messages.msgOrNull('product.pvc.certifiedCableProductCharacteristics')}"></a> </p>
        <ul class="generalCableCharacteristic">
            <li th:text="${#messages.msgOrNull('product.pvc.sheathMaterialForLanCable')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.qualityCharacteristicsAccordingToFlameRetardantGrade')}"></li>
            <li th:text="${#messages.msgOrNull('product.pvc.variousColors')}"></li>
        </ul>
    </div>

    <div class="pvcProductPropertiesImages">
        <img src="../../images/product/certifiedCompound.png">
        <div class="aboveProperties" th:text="${#messages.msgOrNull('product.pvc.aboveProperties')}"></div>
    </div>
</div>

</html>