<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript" src="/js/product/product.js"></script>

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>

<body>
<div th:fragment="pvcDefault">
    <div class="container2-1">
        <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.pvc.aboutPvc')}"></h3>

        <div class="linkBox pcBr">
            <a href="#a1" class="a" th:text="${#messages.msgOrNull('product.pvc.whatIsPvcCompound')}"></a>
            <a href="#a2" class="a" th:text="${#messages.msgOrNull('product.pvc.pvcResinStructuralFormula')}"></a>
            <a href="#a4" class="a" style="display: none"></a>
            <a href="#a4" class="a" style="display: none"></a>
           <!-- <a href="#a3" class="a" th:text="${#messages.msgOrNull('product.pvc.pvcResinFeatures')}"></a>
            <a href="#a4" class="a" style="display: none"></a>
            <a href="#a5" class="a" th:text="${#messages.msgOrNull('product.pvc.pvcTheory')}"></a>-->
            <a href="#a3" class="a" th:text="${#messages.msgOrNull('product.pvc.pvcResinFeatures')}"></a>
        </div>
    </div>

    <div id="pvcDefaultExplanation">
        <div class="pvcContent1">
            <div class="whatPvcImageArea">
                <img src="../../images/product/whatPvc.jpg">
            </div>

            <div class="whatPvc">
                <div class="inWhatPvc" id="a1">
                    <p class="inWhatPvcTxt1 titles"> <a th:text="${#messages.msgOrNull('product.pvc.whatIsPvcCompound')}"></a> </p>
                    <p class="inWhatPvcTxt2" th:utext="${#messages.msgOrNull('product.pvc.thisIsPvc')}"></p>
                </div>
            </div>


        </div>

        <div class="pvcContent2">
            <div class="whatPvc" style="float: left;">
                <div class="inWhatPvc" id="a2">
                    <p class="inWhatPvcTxt1 titles mobilePadding mobileDisplayInline"> <a th:text="${#messages.msgOrNull('product.pvc.pvcResinStructuralFormula')}"></a> </p>
                    <p class="inWhatPvcTxt3 mobileDisplayInline"> <a th:text="${#messages.msgOrNull('product.pvc.nIsPolymerization')}"></a> </p>
                </div>
            </div>
            <div class="pvcResinImageArea">
                <img src="../../images/product/pvcResin2.jpeg">
            </div>
        </div>

        <div class="pvcContent2">
            <div class="whatPvc" style="float: left;">
                <div class="inWhatPvc" id="a3">
                    <p class="inWhatPvcTxt1 titles mobilePadding"> <a th:text="${#messages.msgOrNull('product.pvc.pvcResinFeatures')}"></a> </p>
                </div>
            </div>
            <div class="pvcResinImageArea">
                <img src="../../images/product/pvcResinFeatures.png">
            </div>
        </div>

    </div>

</div>

</body>
