
<div class="container2-1">
    <h3 class="productNameTitle"> 호스용 PVC에 대하여 </h3>

    <div class="linkBox pcBr">
        <a href="#a1" class="a">연질 PVC 가소율(40%)</a>
        <a href="#a2" class="a">연질 PVC 가소율(50%)</a>
        <a href="#a3" class="a">연질 PVC 가소율(60%)</a>
    </div>
</div>

<div class="pvcLeftContainer">
    <div class="pvcContent1 pvcLeftInContainer">
        <div>
            <p class="generalCable"> 연질 PVC 가소율(40%) </p>
            <ul class="generalCableCharacteristic">
                <li>경도(Shore A) : 88</li>
                <li>상온 인장강도(Kgf/mm2) : 17.2</li>
                <li>상온 신장율(%) : 266</li>
            </ul>
        </div>
    </div>

    <div class="pvcContent2 pvcLeftInContainer">
        <div>
            <p class="generalCable"> 난연질 PVC 가소율(50%) </p>
            <ul class="generalCableCharacteristic">
                <li>경도(Shore A) : 85</li>
                <li>상온 인장강도(Kgf/mm2) : 15.1</li>
                <li>상온 신장율(%) : 278</li>
            </ul>
        </div>
    </div>

    <div class="pvcContent2 pvcLeftInContainer">
        <div>
            <p class="generalCable"> 연질 PVC 가소율(60%) </p>
            <ul class="generalCableCharacteristic">
                <li>경도(Shore A) : 80</li>
                <li>상온 인장강도(Kgf/mm2) : 13.4</li>
                <li>상온 신장율(%) : 272</li>
            </ul>
        </div>
    </div>
</div>

<div class="pvcRightContainer">
    <img src="../../images/product/hose1.jpg" class="pvcImageInFit">
</div>

