
<div class="container2-1">
    <h3 class="productNameTitle"> 완구 및 기타제품 PVC에 대하여 </h3>

    <!--<div class="linkBox pcBr">
        <a href="#a1" class="a">완구용</a>
        <a href="#a2" class="a">가전 부속품</a>
        <a href="#a3" class="a">코팅용</a>
    </div>-->
</div>

<div class="pvcTmiLeftContainer">
    <div class="pvcContent1 pvcLeftInContainer">
        <p class="generalCable"> 완구용 </p>
        <ul class="generalCableCharacteristic">
            <li>Phthalate-Free</li>
            <li>Lead-Free</li>
        </ul>
    </div>

    <div class="pvcContent2 pvcLeftInContainer">
        <p class="generalCable"> 가전 부속품 </p>
        <ul class="generalCableCharacteristic">
            <li>유연성</li>
            <li>기능성</li>
            <li>내한성</li>
        </ul>
    </div>

    <div class="pvcContent2 pvcLeftInContainer">
        <p class="generalCable"> 코팅용 </p>
        <ul class="generalCableCharacteristic">
            <li>접착성</li>
            <li>내수성</li>
            <li>내오염성</li>
        </ul>
    </div>
</div>

<div class="pvcRightContainer">
    <img src="../../images/product/pvcToyMiscellaneous.jpeg" class="pvcImageInFit">
</div>

