<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>

<body>
<div th:fragment="tpeDefault">
    <div class="container2-1">
        <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.tpe.aboutThermoplastics')}"></h3>

        <div class="linkBox pcBr">
            <a href="#a1" class="a" th:text="${#messages.msgOrNull('product.tpe.whatIsThermoplastic')}"></a>
            <a href="#a2" class="a">TPU</a>
            <a href="#a3" class="a">TPE</a>
            <a class="a" style="display: none"></a>
            <a href="#a4" class="a">TPEE</a>
        </div>
    </div>

    <div id="pvcDefaultExplanation">
        <div class="pvcContent1" id="a1">
            <div class="whatTpeImageArea">
                <img src="../../images/product/tpe/whatTpe.png">
            </div>
            <div class="whatPvc">
                <div class="inWhatPvc">
                    <p class="inWhatPvcTxt1 titles mobilePadding"> <a th:text="${#messages.msgOrNull('product.tpe.whatIsThermoplastic')}"></a> </p>
                    <p class="inWhatPvcTxt2" th:utext="${#messages.msgOrNull('product.tpe.thisIsThermoplastic')}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="pvcLeftRightContainer" id="a2">
        <div class="tpeLeftContainer pvcMiddleHeight">
            <div class="pvcContent1 pvcLeftInContainer">
                <p class="generalCable titles"> <a>TPU</a> </p>
                <ul class="tpeCharacteristic">
                    <li><a th:text="${#messages.msgOrNull('product.tpe.elasticSheath')}"></a></li>
                    <li><a th:text="${#messages.msgOrNull('product.tpe.variousColors')}"></a></li>
                    <li><a th:text="${#messages.msgOrNull('product.tpe.flameRetardant')}"></a></li>
                </ul>
            </div>
        </div>

        <div class="pvcRightContainer" style="padding-left: 81px;">
            <img src="../../images/product/tpe/tpu.png" class="pvcImageInFit">
        </div>
    </div>

    <div class="pvcLeftRightContainer" id="a3">
        <div class="tpeLeftContainer pvcMiddleHeight">
            <div class="pvcContent2 pvcLeftInContainer resetMargin">
                <p class="generalCable titles"> <a>TPE</a> </p>
                <ul class="tpeCharacteristic">
                    <li><a th:text="${#messages.msgOrNull('product.tpe.functional')}"></a></li>
                    <li><a th:text="${#messages.msgOrNull('product.tpe.flexibility')}"></a></li>
                </ul>
            </div>
        </div>

        <div class="pvcRightContainer">
            <img src="../../images/product/tpe/tpe.jpeg" class="pvcImageInFit" style="padding-left: 40px;">
        </div>
    </div>

    <div class="pvcLeftRightContainer" id="a4">
        <div class="tpeLeftContainer pvcMiddleHeight">
            <div class="pvcContent2 pvcLeftInContainer resetMargin">
                <p class="generalCable titles"> <a>TPEE</a> </p>
                <ul class="tpeCharacteristic">
                    <li><a th:text="${#messages.msgOrNull('product.tpe.highHeatResistance')}"></a></li>
                    <li><a th:text="${#messages.msgOrNull('product.tpe.electricalInsulation')}"></a></li>
                    <li><a th:text="${#messages.msgOrNull('product.tpe.nonHygroscopic')}"></a></li>
                    <li><a th:text="${#messages.msgOrNull('product.tpe.oilResistance')}"></a></li>
                </ul>
            </div>
        </div>

        <div class="pvcRightContainer">
            <img src="../../images/product/tpe/tpee.png" class="pvcImageInFit" style="padding-left: 10px; width: 100%;">
        </div>
    </div>



    <!--<div id="pvcDefaultExplanation">
        <div class="pvcContent1" id="a1">
            <div class="whatPvcImageArea">
                <img src="../../images/product/tpe/whatTpe.png">
            </div>
            <div class="whatPvc">
                <div class="inWhatPvc">
                    <p class="inWhatPvcTxt1 titles"> <a>열가소성 수지란?</a> </p>
                    <p class="inWhatPvcTxt2">
                        ㅁㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ
                    </p>
                </div>
            </div>
        </div>

        <div class="pvcLeftRightContainer" id="a2">
            <div class="pvcLeftContainer pvcMiddleHeight">
                <div class="pvcContent1 pvcLeftInContainer">
                    <p class="generalCable titles"> <a>TPU</a> </p>
                    <ul class="generalCableCharacteristic">
                        <li><a>탄성 시스</a></li>
                        <li><a>다양한 색상</a></li>
                        <li><a>난연성</a></li>
                    </ul>
                </div>
            </div>

            <div class="pvcRightContainer" style="padding-left: 81px !important;">
                <img src="../../images/product/tpe/tpu.png" class="pvcImageInFit">
            </div>
        </div>

        <div class="pvcLeftRightContainer" id="a3">
            <div class="pvcLeftContainer pvcMiddleHeight">
                <div class="pvcContent2 pvcLeftInContainer resetMargin">
                    <p class="generalCable titles"> <a>TPE</a> </p>
                    <ul class="generalCableCharacteristic">
                        <li><a>기능성</a></li>
                        <li><a>유연성</a></li>
                    </ul>
                </div>
            </div>

            <div class="pvcRightContainer">
                <img src="../../images/product/tpe/tpe.jpeg" class="pvcImageInFit">
            </div>
        </div>

        <div class="pvcLeftRightContainer" id="a4">
            <div class="pvcLeftContainer pvcMiddleHeight" style="padding-right: 36px;">
                <div class="pvcContent2 pvcLeftInContainer resetMargin">
                    <p class="generalCable titles"> <a>TPEE</a> </p>
                    <ul class="generalCableCharacteristic">
                        <li><a>고 내열성</a></li>
                        <li><a>전기 절연성</a></li>
                        <li><a>비흡습성</a></li>
                        <li><a>내유성</a></li>
                    </ul>
                </div>
            </div>

            <div class="pvcRightContainer" style="padding-left: 94px !important;">
                <img src="../../images/product/tpe/tpee.png" class="pvcImageInFit">
            </div>
        </div>

    </div>-->

</div>
</body>
</html>