<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container2-1" style="height: 45px;">
    <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.xlpe.aboutGeneralXlpe')}"></h3>
</div>

<div class="pvcContent1">
    <p class="generalCable titlesCable"> <a th:text="${#messages.msgOrNull('product.xlpe.generalXlpe')}"></a> </p>
    <ul class="generalCableCharacteristic">
        <li th:text="${#messages.msgOrNull('product.xlpe.hydroNaturalCrosslinked')}"></li>
        <li th:text="${#messages.msgOrNull('product.xlpe.highCrosslinkAttribute')}"></li>
        <li th:text="${#messages.msgOrNull('product.xlpe.workStability')}"></li>
        <li th:text="${#messages.msgOrNull('product.xlpe.lowExtrusionLoad')}"></li>
        <li th:text="${#messages.msgOrNull('product.xlpe.storageStability')}"></li>
    </ul>

    <div class="pvcProductPropertiesImages">
        <img src="../../images/product/xlpe/xlpeGeneral.png">
    </div>
</div>
</html>