<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>

<body>
<div th:fragment="xlpeDefault">
    <div class="container2-1">
        <h3 class="productNameTitle"> PVC에 대하여 </h3>

        <div class="linkBox pcBr">
            <a href=".inWhatPvcTxt1" class="a">PVC Compound란 무엇인가?</a>
            <a href="#inWhatPvcTxt1" class="a">PVC Resin 구조식</a>
            <a href="#a3" class="a">PVC Resin 특징</a>
        </div>
    </div>

    <div id="pvcDefaultExplanation">
        <div class="pvcContent1">
            <div class="whatPvcImageArea">
                <img src="../../images/product/PVC.jpg">
            </div>
            <div class="whatPvc">
                <div class="inWhatPvc">
                    <p class="inWhatPvcTxt1"> PVC Compound란 무엇인가? </p>
                    <p class="inWhatPvcTxt2"> PVC는 플라스틱 중에서 가장 저렴하면서도 다루기 쉽고, 재가공이 쉬우며, 첨가물의 종류와 양에 따라
                        다양한 종류의 물성과 형태를 가진 제품을 만들 수 있어 오랫동안 사랑받은 플라스틱의 일종이다. 최근 들어 PVC에 결합되어 있는
                        염소의 문제와 납계 열안정제, 프탈레이트계 가소제의 환경적인 문제로 천떡구러기 취급을 받았으나, 최근 친환경 열안정제와
                        친환경 가소제의 개발 및 사용으로 사용용도가 늘고 있는 추세이다. PVC Resin 는 구조상 열에 약한 취약점을 안고 있다.
                        이로 인해 수지 단돋으로 사용할 수 없고 다른 첨가물과 병행 사용하여야 한다. 이런한 것을 PVC Compounding 이라 한다.
                        특히 열에 약한 특징을 보왕하기 위해 열안정제의 첨가는 필수적이라 할 수 있다. 첨가물들을 일정한 비율로 혼합하여 요구되는
                        특성을 만족하게 컴파운딩하는 것이 PVC Compounding 의 가장 중요한 기술이다.</p>
                </div>
            </div>
        </div>

        <div class="pvcContent2">
            <div> <p class="pvcResinTxt1"> PVC Resin 구조식 </p> </div>
            <div class="pvcResinImageArea">
                <img src="../../images/product/pvcResin2.jpeg">
            </div>
        </div>

        <div class="pvcContent3">

        </div>
    </div>


</div>

</body>
