
<div class="container2-1">
    <h3 class="productNameTitle"> 건설 PVC에 대하여 </h3>

    <div class="linkBox pcBr">
        <a href="#a1" class="a">건출 몰딩용(굽도리)</a>
        <a href="#a2" class="a">파이프</a>
        <a href="#a3" class="a" style="display: none"></a>
        <a href="#a4" class="a" style="display: none"></a>
        <a href="#a5" class="a">To be launched</a>
    </div>
</div>

<div class="pvcLeftRightContainer">
    <div class="pvcLeftContainer pvcMiddleHeight">
        <div class="pvcContent1 pvcLeftInContainer">
            <p class="generalCable"> 건출 몰딩용(굽도리) </p>
            <ul class="generalCableCharacteristic">
                <li>경도(Shore A) : 78</li>
                <li>상온 인장강도(Kgf/mm2) : 13</li>
                <li>상온 신장율(%) : 251</li>
                <li>열안정성 : 180m</li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer">
<!--        <img src="../../images/product/construction1.jpg" class="pvcImageInFit">-->
        <img src="../../images/product/construction1-1.jpeg" class="pvcImageInFit">
    </div>
</div>

<div class="pvcLeftRightContainer">
    <div class="pvcLeftContainer pvcMiddleHeight">
        <div class="pvcContent2 pvcLeftInContainer resetMargin">
            <p class="generalCable"> 파이프 </p>
            <ul class="generalCableCharacteristic">
                <li>경도(Shore A) : 76</li>
                <li>상온 인장강도(Kgf/mm2) : 15.5</li>
                <li>상온 신장율(%) : 290</li>
                <li>내한성 : -15'C</li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer">
        <img src="../../images/product/construction3.jpg" class="pvcImageInFit">
    </div>
</div>

<div class="pvcLeftRightContainer">
    <div class="pvcLeftContainer pvcMiddleHeight" style="padding-right: 36px;">
        <div class="pvcContent2 pvcLeftInContainer resetMargin">
            <p class="generalCable"> To be launched </p>
            <ul class="generalCableCharacteristic">
                <li>새로운 제품 개발 중</li>
            </ul>
        </div>
    </div>

    <div class="pvcRightContainer">
        <img src="../../images/product/construction2.png" class="pvcImageInFit">
    </div>
</div>