<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>
</head>

<body>
<div th:fragment="xlpeDefault">
    <div class="container2-1">
        <h3 class="productNameTitle" th:text="${#messages.msgOrNull('product.xlpe.aboutXlpe')}"></h3>

        <div class="linkBox pcBr">
            <a href="#a1" class="a" th:text="${#messages.msgOrNull('product.xlpe.whatIsXlpe')}"></a>
            <a href="#a2" class="a" th:text="${#messages.msgOrNull('product.xlpe.xlpeFeatures')}"></a>
            <a class="a" style="display: none"></a>
            <a class="a" style="display: none"></a>
            <a href="#a3" class="a" th:text="${#messages.msgOrNull('product.xlpe.crosslinkingMethod')}"></a>
        </div>
    </div>

    <div id="pvcDefaultExplanation">
        <div class="pvcContent1">
            <div class="whatXlpeImageArea">
                <img src="../../images/product/xlpe/whatXlpe.png">
            </div>
            <div class="whatPvc">
                <div class="inWhatPvc">
                    <p class="inWhatPvcTxt1 titles mobilePadding"> <a th:text="${#messages.msgOrNull('product.xlpe.whatIsXlpe')}"></a> </p>
                    <p class="inWhatPvcTxt2" th:utext="${#messages.msgOrNull('product.xlpe.thisIsXlpe')}"></p>
                </div>
            </div>
        </div>

        <div class="pvcContent2 mobileXlpeDefault" style="padding-left: 62px;">
            <div id="a2">
                <p class="generalCable titles"> <a th:text="${#messages.msgOrNull('product.xlpe.xlpeFeatures')}"></a> </p>
                <ul class="generalCableCharacteristic">
                    <li th:text="${#messages.msgOrNull('product.xlpe.highOperatingTemperature')}"></li>
                    <li th:text="${#messages.msgOrNull('product.xlpe.excellentPhysicalChemicalAndElectricalProperties')}"></li>
                    <li th:text="${#messages.msgOrNull('product.xlpe.escrProperties')}"></li>
                    <li th:text="${#messages.msgOrNull('product.xlpe.excellentPhysicalAndExcellentProcessability')}"></li>
                    <li th:text="${#messages.msgOrNull('product.xlpe.canExtrudedOnRegularExtruder')}"></li>
                    <li th:text="${#messages.msgOrNull('product.xlpe.excellentCrosslinkingProperties')}"></li>
                </ul>
            </div>
        </div>

        <div class="xlpeContent">
            <div class="whatNemoTab">
                <div class="inWhatPvc mobileXlpeDefault" id="a3">
                    <p class="inWhatPvcTxt1 titles mobilePadding xlpeFontDown"> <a th:text="${#messages.msgOrNull('product.xlpe.crosslinkingMethod')}"></a> </p>
                </div>
            </div>
            <div class="nemoTabImageArea xlpeImageArea" style="padding-left: 25px;">
                <img src="../../images/product/xlpe/xlpeCrosslinkingProcess.png">
            </div>
        </div>
    </div>

</div>

</body>
