.container2 {
    height: auto;
    margin-top: 50px;
}

.box2 {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

li > a {
    list-style-type: none;
    float: left;
}

.productMidTitle1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: calc(950px/4);
    height: 200px;
    padding: 0;
    margin-right: calc((1000px - 970px) / 4);
    box-sizing: border-box;

}

.productName {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    background-color: white;
    padding: 15px 0;
    z-index: 10;
}

.inImage {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.inImageA {
    background-color: #5bccf9;
}

.inImageA > span {
    background-color: #5da5c1;
    color: #ffffff;
}

.image {
    width: 100%;
    height: calc(100% - 45px);
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}

.box2 li:nth-child(3).on a:after {
    background-image: url(../../images/product/imageCoverLogo.png);
}

.inImageA::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    z-index: 5;
    text-align: center;
    background-color: #5bccf9;
    opacity: 0.3;
}

.inImage:hover:after {
    content: '';
}

.inImage:hover > span {
    background-color: #5da5c1;
    color: #ffffff;
}

.inImage::after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    z-index: 5;
    text-align: center;
    background-color: #5bccf9;
    opacity: 0.3;
}

.container2-1 {
    height: 130px;
    text-align: center;
    padding: 90px 0 70px;
}

.container2-2 {
    background-color: #c0f5fa;
    height: 1000px;
    text-align: center;
    padding-bottom: 150px;
    margin-left: 118.5px;
    margin-right: 118.5px;
}

.box3 {
    background-color: #0081cc;
}

.box4 {
    background-color: #ff0000;
}

.box5 {
    background-color: chartreuse;
}





.productNameTitle {
    font-size: 42px;
    color: #000;
    font-weight: 600;
}
.inner_tab {
    width: 1000px;
    margin: 50px auto 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.inner_tab li {
    float: left;
    width: calc(100% / 2);
    border: 1px solid #ececec;
    border-bottom: 3px solid #0081cc;
    box-sizing: border-box;
}

.inner_tab li.on {
    border: 3px solid #0081cc;
    border-bottom: 1px solid #fff;
}

.linkBox {
    margin: 40px auto 0;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
    font-size: 14px;
}

.linkBox a:nth-child(-n+2):after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #7a7a7a;
    margin: 0 10px;
}

.linkBox a:hover {
    color: #9d2b2b;
    font-weight: 500;
}

.pcBr {
    display: block;
}

.img_tab {
    width: 746px;
    margin: 60px auto 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.inner_tab li a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #48474a;
}

.pvcContent1 {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    color: white;
}

.whatPvc {
    height: 100%;
    width: 400px;
    background-color: #0063ff;
    margin-bottom: 50px;
}

.whatPvcImageArea {
    float: right;
    overflow: hidden;
    width: 600px;
    height: 500px;
}

.whatPvcImageArea > img {
    width: 100%;
    height: 100%;
}

.inWhatPvc {
    padding: 30px;
}

.inWhatPvcTxt1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.02em;
    float: left;
}

.inWhatPvcTxt2 {
    font-size: 14px;
    margin-top: 90px;
    font-weight: 300;
    line-height: 1.8;
}

.pvcContent2 {
    width: 1000px;
    margin: 50px auto;
    height: 500px;
    background-color: #f7fbfe;
}

.pvcResinImageArea {
    overflow: hidden;
    width: 100%;
}

.pvcResinImageArea > img {
    width: 800px;
    height: 200px;
    float: right;
    padding-top: 30px;
    margin-right: 120px;
}

.pvcResinTxt1 {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 450;
    line-height: 0.8;
}

.pvcContent3 {
    width: 1000px;
    margin: 50px auto 50px;
    height: 500px;
    background-color: bisque;
}