.wrap{
    overflow: hidden;
}

.container2 {
    height: auto;
    margin-top: 50px;
}

.container1 h2:before {
    display: block;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 47%;
    right: 0;
    opacity: .5;
}

.container1 h2:after {
    display: block;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 47%;
    left: 0;
    opacity: .5;
}





.box2 {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

li > a {
    list-style-type: none;
    float: left;
}

.productMidTitle1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: calc(950px/4);
    height: 200px;
    padding: 0;
    margin-right: calc((1000px - 970px) / 4);
    box-sizing: border-box;

}

.productName {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    background-color: white;
    padding: 15px 0;
    z-index: 10;
}

.inImage {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.inImageA {
    background-color: #5bccf9;
}

.inImageA > span {
    background-color: #5da5c1;
    color: #ffffff;
}

.image {
    width: 100%;
    height: calc(100% - 45px);
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}

.box2 li:nth-child(3).on a:after {
    background-image: url(../../images/product/imageCoverLogo.png);
}

.inImageA::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    z-index: 5;
    text-align: center;
    background-color: #5bccf9;
    opacity: 0.3;
}

.inImage:hover:after {
    content: '';
}

.inImage:hover > span {
    background-color: #5da5c1;
    color: #ffffff;
}

.inImage::after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    z-index: 5;
    text-align: center;
    background-color: #5bccf9;
    opacity: 0.3;
}

.container2-1 {
    height: 130px;
    text-align: center;
    padding: 90px 0 70px;
}

.container2-2 {
    background-color: #c0f5fa;
    height: 1000px;
    text-align: center;
    padding-bottom: 150px;
    margin-left: 118.5px;
    margin-right: 118.5px;
}

.box3 {
    background-color: #0081cc;
}

.box4 {
    background-color: #ff0000;
}

.box5 {
    background-color: chartreuse;
}





.productNameTitle {
    font-size: 42px;
    color: #000;
    font-weight: 600;
}
.inner_tab {
    width: 1000px;
    margin: 50px auto 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.inner_tab li {
    float: left;
    width: calc(100% / 2);
    border: 1px solid #ececec;
    border-bottom: 3px solid #0081cc;
    box-sizing: border-box;
}

.inner_tab li.on {
    border: 3px solid #0081cc;
    border-bottom: 1px solid #fff;
}

.linkBox {
    margin: 40px auto 0;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
    font-size: 14px;
}

.linkBox a:nth-child(-n+4):after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #7a7a7a;
    margin: 0 10px;
}

.linkBox a:hover {
    color: #9d2b2b;
    font-weight: 500;
}

.pcBr {
    display: block;
}

.img_tab {
    width: 746px;
    margin: 60px auto 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.inner_tab li a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #48474a;
}

.pvcContent1 {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    /*height: 500px;*/
    height: auto;
    color: #000000;
}

.titles {
    background-image: url("../../images/product/titles.png");
    background-repeat: no-repeat;
    background-size: 13px;
}

.titlesCable {
    background-image: url("../../images/product/titles.png");
    background-repeat: no-repeat;
    background-size: 13px;
}

ul.generalCableCharacteristic li {
    background-image: url(../../images/product/subTitle.png);
    background-repeat: no-repeat;
    background-size: 9px;
    padding-left: 16px;
    line-height: 14px;
    padding-bottom: 10px;
}

div.pvcProductPropertiesImages img {
    width: 96%;
}

.aboveProperties {
    text-align: left;
    padding-top: 10px;
    padding-left: 25px;
    color: RED;
    line-height: 1.3;
}

.whatPvc {
    height: 100%;
    width: 400px;
    margin-bottom: 40px;
    display: inline-block;
}

.whatOlefin {
    height: 100%;
    width: 400px;
    background-color: #828282;
    margin-bottom: 90px;
}

.whatPvcImageArea {
    float: right;
    overflow: hidden;
    width: 600px;
    height: 550px;
}

.whatXlpeImageArea {
    float: right;
    overflow: hidden;
    width: 600px;
    height: 550px;
}

.whatOlefinImageArea {
    float: right;
    overflow: hidden;
    width: 600px;
    height: 550px;
}
.whatOlefinImageArea >img {
    width: 95%;
    height: 75%;
    padding-top: 125px;
    padding-left: 25px;
}

.whatPvcImageArea > img {
    width: 100%;
    height: 85%;
    padding-top: 110px;
    padding-left: 45px;
}

.whatXlpeImageArea > img {
    width: 100%;
    height: 73%;
    padding-top: 110px;
    padding-left: 45px;
}

.inWhatPvc {
    width: 400px;
    padding: 30px 0;
}

.inWhatPvcTxt1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 45px;
    padding-left: 20px;
    letter-spacing: -0.02em;
    float: left;
}

.inWhatPvcTxt2 {
    font-size: 16px;
    margin-top: 90px;
    font-weight: 400;
    line-height: 1.8;
    text-align: start;
}

.inWhatPvcTxt3 {
    font-size: 20px;
    line-height: 45px;
    padding-left: 10px;
    letter-spacing: -0.02em;
    float: left;
}

.pvcContent2 {
    width: 1000px;
    margin: 50px auto;
    /*height: 500px;*/
    height: auto;
    text-align: center;
}

.pvcResinImageArea {
    overflow: hidden;
    width: 100%;
}

.pvcResinImageArea > img {
    width: 800px;
    height: 200px;
    float: right;
    padding-top: 15px;
    margin-right: 155px;
}

.pvcResinTxt1 {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 450;
    line-height: 0.8;
}

.pvcContent3 {
    width: 1000px;
    margin: 50px auto 50px;
    /*height: 500px;*/
    height: auto;
    background-color: bisque;
}

.generalCable {
    height: 50px;
    color: black;
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 350;
    line-height: 42px;
}

.generalCableCharacteristic {
    color: black;
    text-align: left;
    padding-left: 25px;
    font-size: medium;
}

.pvcLeftInContainer {
    width: revert;
}

.pvcRightContainer {
    margin: 0 auto;
    width: 38%;
    height: 420px;
    display: inline-block;
    padding-left: 70px;
}

.pvcLeftContainer {
    display: inline-block;
    padding-left: 453px;
    padding-bottom: 70px;
}

.pvcTmiLeftContainer {
    display: inline-block;
    padding-left: 456px;
    padding-bottom: 70px;
}

.pvcImageInFit {
    height: -webkit-fill-available;
}

.pvcMiddleHeight{
    position: relative;
    top: -183px;
}
.resetMargin {
    margin: auto;
}

.olefinContainer {
    height: 80px !important;
}

.nemoTabHighlight{
    color: deepskyblue;
    font-weight: 550;
    font-size: 17px;
}

.nemoTabInfoImage {
    background-image: url("../../images/product/nemoTabBackGround1.jpeg");
    background-repeat: no-repeat;
    background-size: 110%;
}

.whatNemoTabImageArea {
    float: right;
    overflow: hidden;
    width: 600px;
    height: 550px;
}

.whatNemoTabImageArea > img {
    width: 92%;
    height: 77%;
    padding-top: 120px;
    padding-left: 30px;
}

.nemoTabImageArea {
    overflow: hidden;
    width: 100%;
}

.nemoTabImageArea > img {
    width: 97%;
    height: 100%;
    float: right;
    padding-top: 15px;
}

.whatNemoTab {
    width: 400px;
    margin-bottom: 40px;
}

.nemoTabContent {
    width: 1000px;
    margin: 50px auto;
    height: 500px;
    text-align: center;
}

#nemoTabBookMarkWrap {
    position: fixed;
    bottom: 0;
    left: 55px;
    width: 250px;
    height: 80px;
    background-color: rgb(47 201 83);
    transition: ease-in-out 500ms;
    vertical-align: middle;
    z-index: 10;
}

#nemoTabBookMarkWrap:hover{
    height: 180px;
    background-color: #e26703;
}

#nemoTabBookMarkWrap:hover i{
    display: inline-block;
}

.nemoTabHeader{
    width: 210px;
    height: 50px;
    margin: 15px 20px;
    color: white;
}

.nemoTabHeader h2{
    font-size: 22px;
    line-height: 30px;
}

.nemoTabHeader p{
    font-size: 14px;
    line-height: 20px;
}

.nemoTabHeader i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    display: none;
}

.nemoTabBody{
    position: relative;
    width: 210px;
    height: 80px;
    margin: 10px 20px;
    color: white;
}

.nemoTabBodyHeader{
    margin-bottom: 15px;
}

.nemoTabBodyContent2 p{
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.nemoTabBtn{
    position: absolute;
    bottom: 0;
    right: 10px;
    border: 1px solid white;
    padding: 2px 15px;
    cursor: pointer;
}

.nemoTabBtn p{
    font-size: 13px;
    font-weight: 600;
}

@media only screen and (max-width: 480px) {
    #nemoTabBookMarkWrap{
        left: 25px;
        width: 150px;
    }

    .nemoTabHeader{
        width: calc(100% - 40px);
    }

    .nemoTabHeader h2{
        font-size: 20px;
        line-height: 26px;
    }

    .nemoTabBody{
        width: calc(100% - 40px);
    }
}

.xlpeContent {
    width: 1000px;
    margin: 50px auto;
    height: 600px;
    text-align: center;
}

.whatTpeImageArea {
    float: right;
    overflow: hidden;
    width: 600px;
    height: 550px;
}

.whatTpeImageArea > img {
    width: 100%;
    height: 75%;
    padding-top: 110px;
    padding-left: 35px;
}

.tpeLeftContainer {
    display: inline-block;
    padding-left: 490px;
    padding-bottom: 70px;
}

ul.tpeCharacteristic li {
    background-image: url(../../images/product/subTitle.png);
    background-repeat: no-repeat;
    background-size: 9px;
    padding-left: 16px;
    line-height: 16px;
    padding-bottom: 27px;
}

.tpeImageKo {
    padding-left: 40px;
    width: 85%;
}

.tpeImageEn {
    padding-left: 85px;
    width: 85%;
}

.tpuImageKo {
    padding-left: 12px;
    width: 85%;
}

.tpuImageEn {
    padding-left: 44px;
    width: 85%;
}

.tpeeImageKoEn {
    padding-left: 10px;
}

@media only screen and (max-width: 480px) {
    .container2 {
        position: relative;
        width: 100vw;
    }

    .box2 {
        width: 100%;
    }

    .productMidTitle1 {
        width: calc(95% / 4);
        height: 150px;
        margin: 0;
    }

    .image {
        height: calc(100% - 35px);
    }

    .productName {
        height: 35px;
        line-height: 35px;
        font-size: 13px;
        padding: 0;
    }

    .container2-1 {
        padding: 70px 0;
        height: auto;
    }

    .productNameTitle {
        font-size: 22px;
    }

    .linkBox {
        font-size: 12px;
        margin-top: 12px;
    }


    .whatPvc {
        position: relative;
        width: 80%;
        margin: 0 10%;
        overflow: hidden;
    }

    .inWhatPvc {
        width: 100%;
        padding: 0;
        text-align: left;
    }

    .inWhatPvcTxt1 {
        padding: 0;
        font-size: 21px;
        line-height: 30px;
        float: unset;
    }

    .inWhatPvcTxt2 {
        font-size: 14px;
        color: #666666;
        margin-top: 30px;
    }

    .whatPvcImageArea {
        float: unset;
        width: 80%;
        height: auto;
        margin: 35px auto 60px auto;
    }

    .whatPvcImageArea > img {
        padding: 0;
        height: auto;
    }

    .pvcContent1, .pvcContent2 {
        width: 96%;
        margin: 35px auto;
    }

    .inWhatPvcTxt3 {
        font-size: 18px;
        line-height: 32px;
        padding-left: 0;
        float: unset;
    }

    .pvcResinImageArea > img {
        width: 100%;
        height: auto;
        float: unset;
        padding: 40px 0;
        margin: 0;
    }

    /*cablePVC*/
    .generalCable {
        padding-top: 5px;
        height: auto;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .generalCableCharacteristic {
        font-size: 14px;
    }

    .pvcProductPropertiesImages {
        margin-top: 25px;
    }

    .pvcProductPropertiesImages > img {
        width: 90%;
    }

    .pvcLeftContainer {
        padding: 0;
        width: 100%;
        margin: 0 auto 25px auto;
    }

    .pvcRightContainer {
        width: 100%;
        height: auto;
        padding: 0;
        text-align: center;
    }

    .pvcImageInFit {
        width: 90% !important;
        margin: 0 auto 50px auto;
        height: auto;
        padding: 0 !important;
    }

    .pvcMiddleHeight {
        top: 0;
    }

    .pvcRightContainer {
        padding-left: 0 !important;
    }

    .pvcTmiLeftContainer {
        width: 137px;
        padding-left: 1%;
    }

    .toyImageContainer {
        width: calc(100% - 150px);
        overflow: hidden;
    }

    .toyImage {
        width: 100%;
        margin: 0 auto 100px auto;
    }

    .olefinContainer {
        height: 0 !important;
    }

    .whatOlefinImageArea {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .whatOlefinImageArea > img {
        width: 80%;
        padding: 30px 0;
        height: auto;
    }

    .olefinTable {
        padding-top: 30px;
    }

    .mobilePadding {
        padding-top: 5px;
        padding-left: 20px;
        text-align: left;
    }

    .mobileDisplayInline {
        display: inline-block;
    }

    .mobileXlpeDefault {
        padding-left: 11% !important;
    }

    .xlpeFontDown {
        font-weight: 400 !important;
    }

    .whatNemoTab {
        margin-bottom: 20px;
    }

    .xlpeContent {
        height: auto;
    }

    .xlpeImageArea {
        padding-left: 0 !important;
        float: unset;
        width: 100vw;
    }

    .xlpeImageArea > img {
        width: 94%;
        float: unset;
    }

    .whatTpeImageArea {
        width: 80%;
        margin: 35px auto 60px auto;
        height: auto;
        float: unset;
        text-align: center;

    }

    .whatTpeImageArea > img {
        padding-top: 0;
        padding-left: 0;
        height: auto;
    }

    .tpeLeftContainer {
        display: block;
        padding-left: 0;
        padding-bottom: 0;
        width: 80%;
        margin: 0 auto;
    }

    .whatNemoTabImageArea {
        float: unset;
        width: 100vw;
        height: auto;
        padding-bottom: 50px;
    }

    .whatNemoTabImageArea > img {
        width: 80%;
        height: auto;
        padding: 0 !important;
    }

    .nemoTabContent {
        width: 96%;
        margin: 45px auto;
        height: auto;
    }

    .nemoTabImageArea{
        padding-left: 0;
        overflow: hidden;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .nemoTabImageArea > img{
        width: 100%;
        height: auto;
        padding-top: 22px;
    }

    .nemoTabTextHead{
        width: 80%;
        margin: 0 auto;
        text-align: left !important;
    }

    .whatXlpeImageArea{
        width: 80%;
        height: auto;
        float: unset;
        text-align: center;
        margin: 0 10% 20px 10%;
    }

    .whatXlpeImageArea > img{
        width: 100%;
        height: auto;
        padding: 0;
    }

    .xlpeContent{
        width: 98%;
    }
}